[2022-03-02 07:26] hongzhidao commented on #651
Hi, @winduptoy @travisbell

Thanks for your reporting. Here's the patch of adding "SCRIPT_NAME" parameter.
https://gist.github.com/hongzhidao/1bbe0479a57377682a51dd3fabf7061e

Welcome to test.

[2022-03-02 07:54] echolimazulu commented on #642
Good morning @alejandro-colomar,

Thank you for your reaction and work on this issue!

I apologize for the long answer.

Within 1 hour, I will provide you with the Unit configuration you requested.

[2022-03-02 10:07] echolimazulu commented on #642
@alejandro-colomar,
I am glad to help.

**/var/lib/unit/conf.json**
[code]

**/opt/falcon/things_asgi.py**
[code]
**/bin/bash:**
[code]

[2022-03-02 15:35] MrGecko commented on #516
### How i fixed it on Manjaro:

I edited my s**ystemd unit.service script** and manually specified **--user** and **--group** parameters since I couldn't get it working with the default values specified by unitd -h (in my case it asked for 'nobody' as user and user's primary group as group).

[2022-03-02 22:34] alejandro-colomar commented on #642
Thanks!

Could you please also write all of the commands you used to configure, compile, install, run, run-time config, etc.?

[2022-03-03 14:42] vgiannokostas commented on #516
@mar0x Thank you for your reply. I hope my answers below can help you understand more

1. Exact OS
`Distributor ID:	Ubuntu
Description:	Ubuntu 20.04 LTS
Release:	20.04
Codename:	focal`

2. Unit version
`unit version: 1.26.1
configured as ./configure --prefix=/usr --state=/var/lib/unit --control=unix:/var/run/control.unit.sock --pid=/var/run/unit.pid --log=/var/log/unit.log
--tmp=/var/tmp --user=un

[2022-03-03 16:07] mar0x commented on #516
@vgiannokostas Thank you for complete setup information.

I suspect it is access rights issue. The application process (which is started as `unit` user in your case) have no access to `/home/ubuntu/mainly-ui/webservice` and `/home/ubuntu/mainly-ui/venv`.

Consider to add `user` and `group` attributes (see the [documentation](https://unit.nginx.org/configuration/#applications)) for `miranda_webserv

[2022-03-03 16:13] mar0x commented on #516
@MrGecko Although the issue can be solved the way you describe, application `user` and `group` attributes is more convenient and flexible way to configure effective application process credentials.

[2022-03-08 19:32] alejandro-colomar commented on #653
It seems to be a bug in ruby, I think.

Minimal reproducer:

[code]
[code]
[code]
[code]

See the following test, to investigate the reason:

[code]
[code]
[code]

[2022-03-08 20:17] alejandro-colomar commented on #653
Bug reported to ruby: <https://bugs.ruby-lang.org/issues/18616>

[2022-03-08 20:23] travisbell commented on #653
Hey Alex, thanks for the troubleshooting and investigation.

I installed Ruby on Mac OS with [rbenv](https://github.com/rbenv/rbenv). I also noticed, like you, that there is no issue compiling the module on my Ubuntu machine. This problem seems to only show up on my Mac.

I'll give the compile flags a try when I find some time to get back to this in a few. Thanks!

[2022-03-08 20:43] alejandro-colomar commented on #653
Hey Travis!

It seems to be a `clang`(1) bug, which breaks `ruby`(1):

<https://github.com/llvm/llvm-project/issues/49958>

[2022-03-09 05:19] hongzhidao commented on #654
@travisbell

It makes sense.

Since Unit supports more than Ruby, compared to STDOUT (rb_stderr), `rack.errors` defined custom error log format for `unit.log`. such as
[code]
The Ruby module implements `rack.input` and `rack.errors` streams.
And users can do like below by `rack.errors`:
[code]

Previously, Unit throws the above errors because of the missing define `close` in streams on Sinatra app

[2022-03-09 10:59] alejandro-colomar commented on #653
It seems that `ruby`(1) knew about this bug in `clang`(1),
and they introduced the same workaround back in 2019:
<https://github.com/ruby/ruby/commit/0958e19ffb047781fe1506760c7cbd8d7fe74e57>

[2022-03-09 15:40] travisbell commented on #653
@hongzhidao @VBart @artemkonev What do you say guys, should we get get this flag added to Mac builds?

[2022-03-09 16:04] alejandro-colomar commented on #653
According to the LLVM bug, it is also triggered in some other platforms such as Cygwin, so to be safe I'd enable that flag always for `clang`(1).

[2022-03-10 00:37] alejandro-colomar commented on #653
The flag seems to have been added in 2015, in commit <https://github.com/llvm/llvm-project/commit/d170c4b57a91adc74ca89c6d4af616a00323b12c>.  The first release to contain it is:
[code]

I couldn't find a list of maintained `clang`(1) versions.

I checked two distros that tend to be the oldest, Debian and CentOS:

The oldest Debian still alive is [8 (Jessie)](https://www.debian.org/releases/), whic

[2022-03-11 10:27] TuzelKO opened #657 "NextCloud sync (download files from server)"
Hello! When uploading files to the server, there were no problems, but when downloading, Unit literally went crazy and began to break 50% of the connections. I can't figure out what the problem is - everything is quiet in the Nextcloud logs.

Logs:
[code]

Unit config:
[code]

Server:
Raspberry Pi 4 - Linux raspberrypi 5.10.92-v8+ #1514 SMP PREEMPT Mon Jan 17 17:39:38 GMT 2022 aarch64 GNU/Linux

[2022-03-11 16:07] travisbell commented on #654
@hongzhidao This looks much better, yes! 👍🏼

[2022-03-13 15:07] TuzelKO commented on #657
[code]

[2022-03-13 17:15] TuzelKO commented on #657
And is crashed...
[code]

[2022-03-13 21:34] tippexs commented on #657
Thanks for reporting it and the delay in our response. We will have a look into it. Do you have any numbers like how many files and maybe the size of the files? This would help me to reproduce the issue.

[2022-03-13 22:28] TuzelKO commented on #657
There are 250,000 files on the server. Most of the files are small (photos, documents, short videos), up to 25 megabytes - there are no problems with them. When downloading files larger than 25 megabytes (video, archives), unit terminates the connection. In case of an error in downloading a file, the NextCloud desktop client tries to download them again, after many disconnections, the unit crashes

[2022-03-13 22:40] TuzelKO commented on #657
Docker file:
[code]

Docker Compose file
[code]

Entrypoint shell script:
[code]

[2022-03-13 22:44] TuzelKO commented on #657
Unit config:
[code]

supervisor/supervisord.conf
[code]

supervisor/conf.d/unit.conf
[code]

php.ini
[code]

[2022-03-13 22:50] TuzelKO commented on #657
I had to give up configuring the Unit through the Rest interface.  Instead, I forced it to use the already prepared configuration file from the /etc/unit directory

[2022-03-14 06:55] iprok opened #658 "unit 1.26.1 + php 7.4 + debian 11 is hanging up"
Hello!

It's the english version of https://mailman.nginx.org/archives/list/unit@nginx.org/thread/6O5YYIXLBYRQDJMYT6JEW6XZ7EEKGMGY/

We have moved our nextcloud instance to unit 1.26.1 and we are facing the issue when unit stops responding to all requests. Restarting the unit helps, but sometimes needs `kill -9`.

We have an nginx as reverse proxy in front of unit and we can see the record in its

[2022-03-14 10:03] mar0x commented on #657
Hello.
It looks like a memory limit issue. Try to change the number of application processes for fixed value (say `"processes": 10`). Is there any difference?

Crashes: Check the `dmesg` output is there any information there about process crashes?

REST configuration: What was the issues with using it?

[2022-03-14 11:35] alejandro-colomar commented on #642
@echolimazulu

Ping :)

I'm having trouble trying that.  Please share all of the commands you used so that I can fully reproduce it.

[2022-03-14 11:43] TuzelKO commented on #657
The rest interface is extremely difficult to get to work correctly when running a container with a non-zero UID

[2022-03-14 14:01] mar0x commented on #657
If you mean a Unix domain socket access rights, consider to use TCP port as a control socket.

[2022-03-14 15:52] dward opened #659 "Idle timeout and prototype processes"
We utilize unit to effectively scale to zero (spare processes set to 0) when certain applications are not busy.

With 1.26.x, there appears to be prototype processes that run per application. Is there a configuration setting to idle these out as well?

[2022-03-14 17:01] lcrilly commented on #659
With 1.26 the job of forking new application processes was moved from the `unit: controller` process to a prototype process for each application.

This scales better for multiple applications and languages. Reduces initialization time for new application processes, enables sharing of opcache for PHP across multiple applications, and enables future memory optimizations.

The prototype is the "appli

[2022-03-15 08:17] tippexs commented on #658
thanks for reporting this and sorry for the late response. Is the application process still running when you notice a timeout on the proxy server? `ps -elf |grep unit` will show the running processes. any `dmseg` output available for this?

[2022-03-15 08:25] mar0x commented on #659
Here is the patch to stop the prototype process when last idle process stopped:
[code]

**Be aware about possible racing condition**: application process may start processing the request, but not yet acknowledge it to router, at the same time in router application idle timer executed and the process is terminated by router with QUIT message.

[2022-03-15 09:35] echolimazulu commented on #642
Hello @alejandro-colomar!

I apologize for the long responses on my part.
I'm hard at work on a patch for unix socket support (open/close) which I'll provide via PR soon.

Unfortunately, the process of building Unit and its modules in our CI/CD system is covered by confidentiality requirements that I cannot violate.

I can only say that the assembly practically does not differ from the standard on

[2022-03-15 10:41] alejandro-colomar commented on #642
No worries :)

Okay.  Anyway, if you can simplify them by removing extra stuff and leave a minimum working set of commands that contain no sensitive information it would be of great help.  If you can't, I'll understand.

Thanks, that would be of great help too!
Please take into account that my code will probably require changes in your config file,
since it only accepts the exact string `"unix"` f

[2022-03-16 10:34] melck commented on #333
Hello, any news on this ?

[2022-03-17 08:05] tippexs commented on #657
Thanks for the detailed information about this issue. We are currently trying to reproduce it. Would you mind downgrade the Unit version to 1.25? We are currently investigating another issue #658 that is not exactly like this one but similar. A downgrade to 1.25 helped in this case.

Will come back to you with further information as soon as possible.

[2022-03-17 08:19] tippexs commented on #628
Depending on the OS you are using you can make changes to `/etc/security/limits.conf` or modify the `systemd` service definition and add `LimitNOFILE=16000 LimitNOFILESoft=16000` for example in the Service section. We will add a section about tuning and configure the server environment on our website.

[2022-03-17 08:19] #628 closed

[2022-03-17 08:39] tippexs commented on #613
In general speaking switching off errors / warnings before even looking at them is not a good idea. In this case it totally make sense.

[2022-03-17 08:39] #613 closed

[2022-03-17 08:43] #622 closed

[2022-03-17 08:46] #627 closed

[2022-03-17 10:41] TuzelKO commented on #657
Downgrade is not working...

Log from start to crash after trying download large file (10 gb -> 43 mb downloaded):
[code]

[2022-03-17 10:43] TuzelKO commented on #657
Build DockerFile command:
[code]

[2022-03-18 05:50] Sunnnner opened #661 "django3.2 app process exited"
- my settings:
[code]

- error message:
[code]
- Operating environment: `ubuntu20.04 python3.8.10 django3.2` for docker

[2022-03-18 10:10] mar0x commented on #661
Hello,
Messages only indicates exactly what it says: "_Django can only handle ASGI/HTTP connections, not lifespan._"
This is not an issue. Your application should process request as expected. WebSocket may not work (see #572) because of https://github.com/django/channels/pull/1577 .

Do you spot any other issues except log messages?

[2022-03-18 11:12] Sunnnner commented on #661
Thank you for the help!

[2022-03-18 11:12] #661 closed

[2022-03-22 10:42] artemkonev commented on #628
The process is more or less similar to this: https://unit.nginx.org/troubleshooting/#core-dumps-linuxsystemd

[2022-03-25 12:54] jamesRUS52 opened #665 "flush php opcache or restart via control socket"
Hi, Is it possible to restart unit via control socket?
or any other method to flush php opcache without systemctl restart unit

[2022-03-25 13:02] jamesRUS52 opened #666 "tls commands not working"
Hi

configuration "conf_commands" for ssl not working

[code]

[code]

centos 7
[code]

[code]

[2022-03-25 13:06] jamesRUS52 opened #667 "FR available variables for location"
Hi, please add variables to location section like this

[code]

[2022-03-25 15:04] echolimazulu commented on #642
@alejandro-colomar, I have tested your solution. In my case, it works great!

All necessary information in the `access_log` is also received and displayed. You perfectly solved this problem, I will learn from your example of brevity and purity of code in programming. Thank you!

This issue can be closed.

@VBart I would like to mark this PR: https://github.com/nginx/unit/pull/655 as a solution to

[2022-03-25 21:07] echolimazulu commented on #641
I am closing this PR as it duplicates the issue: https://github.com/nginx/unit/issues/635.

[2022-03-25 21:07] #641 closed

[2022-03-25 21:17] echolimazulu commented on #635
I am closing this PR as it duplicates the issue: https://github.com/nginx/unit/issues/635.

@VBart, Good morning!

Unfortunately, the solution you suggested, with the implementation of the PR extension https://github.com/nginx/unit/pull/655 by @alejandro-colomar, only solves the `client ip` part of the problem using `X-Forwarded-For`.

I have created a repository with the ability to quickly reprod

[2022-03-27 08:37] livelace commented on #427
Just a reminder from 2022.

[2022-03-27 10:09] tippexs commented on #667
Hi @jamesRUS52 thanks for reaching out. We are currently working on an implementation. See [PR](https://github.com/nginx/unit/pull/660). Will tag your Issue and close it once the feature is generally available.

[2022-03-27 10:11] tippexs commented on #666
Hi @jamesRUS52  what does the Unit log say? Please share the output of `/var/log/unit/unit.log`

[2022-03-27 10:26] tippexs commented on #665
Hi @jamesRUS52 . Thanks for reaching out.  From the context of your question I assume you are looking for a way to clear the PHP opcache. Am I correct? The opcache lifes in the shared memory zone restarting the unit application should fee the cache. You can use this `sudo curl -X GET --unix-socket /path/to/control.unit.sock http://localhost/control/applications/app_name/restart` to restart the app

[2022-03-27 11:12] jamesRUS52 commented on #665
Yes, you are correct.
It works, thank you.
But Is the way to do the same without sudo (run by app user)

[2022-03-27 11:17] jamesRUS52 commented on #666
[code]

[2022-03-27 11:17] jamesRUS52 commented on #667
thank you

[2022-03-28 03:50] TuzelKO commented on #657
Were you able to reproduce the error?

[2022-03-28 06:27] tippexs commented on #666
Thanks. I had a feeling that this will be the issue but now it's clear. the `conf_command` applies for TLS 1.3 only. The OpenSSL Version  1.0.2-fips on CentOS 7 will not be able to make use of TLS 1.3. You can check all the available cyphers and reduce the output to a list of version by issuing `openssl ciphers -v | awk '{print $2}' | sort -u`

The output on your system should look like this
[code

[2022-03-28 14:05] alejandro-colomar commented on #635
Hi!

Thank you very much for the reproducer repo.  Will play with it to understand the problem!

Cheers,
Alex

[2022-03-28 15:06] alejandro-colomar commented on #642
I'm very happy to know that it works great for you!
Will try to fix the other issue.
And also happy that you like my code :-}
Thanks for helping with the testing.

Cheers,
Alex

[2022-03-29 13:30] echolimazulu commented on #635
@alejandro-colomar, Hello Alejandro!

**Thank you for the work you have done!**

I'm really glad that I helped you reproduce this problem.
I am sure that this information will help to understand the causes of the problem much more quickly.

[2022-03-30 16:01] tippexs commented on #635
Hi @alejandro-colomar please have a look here. as discussed. https://github.com/nginx/unit/blob/aeed86c6829c62359e79f239b849766efb8857a7/src/python/nxt_python_asgi.c#L1084

[2022-03-30 18:11] alejandro-colomar commented on #635
I changed your repository a bit to serve a static website instead of a python/falcon app, and it works.  So we need to fix the code for python ASGI, as @mar0x said.

[2022-03-30 18:17] alejandro-colomar commented on #635
I think this is failing even before the port thing.  I remember seeing this error in the log too:

https://github.com/nginx/unit/blob/aeed86c6829c62359e79f239b849766efb8857a7/src/python/nxt_python_asgi.c#L666

Line 666, BTW xD

We'll check later.

[2022-03-30 19:08] alejandro-colomar commented on #635
https://github.com/nginx/unit/blob/aeed86c6829c62359e79f239b849766efb8857a7/src/python/nxt_python_asgi.c#L748

[code]

That `:` is the one that's causing the error (it's being interpreted as the address:port separator, and then the string after it can't be interpreted as a port.

[2022-04-01 10:22] alejandro-colomar commented on #635
Okay, we have a fix.  There's something we don't know, and that's if I need to `Py_INCREF(Py_None)` or not.  I'll open a PR soon, so you can check it, but the fix is already in my test branch, so you can have a look at it: <https://github.com/alejandro-colomar/unit/tree/sock-test>.

[2022-04-01 11:24] echolimazulu commented on #635
@alejandro-colomar, Good afternoon!

This works incredibly well for me!

I've been trying to do something about it all morning, but unfortunately my knowledge was not enough to deal with it. Your decision really impressed me!

Thank you so much!

[2022-04-01 12:23] MarkSinD opened #668 "add header Access-Control-Allow-Headers via nginx"
How to insert header into request response via nginx?
The fact is that a CORS error occurs during a cross-domain request, which is solved simply by adding the Access-Control-Allow-Headers header through the nginx proxy server (as I read on the Internet).
Here is cors error code:
![2022-04-01_14-05-51](https://user-images.githubusercontent.com/33195675/161262625-b679f34a-9f78-47fe-9398-291da7001096

[2022-04-01 14:10] artemkonev commented on #668
Hi @MarkSinD ,

this is the NGINX Unit repo, you may want to ask your question here: https://github.com/nginx/nginx

[2022-04-01 15:56] echolimazulu opened #669 "Problem when restarting unix socket as listener"
**Hello Nginx Team and Contributors,**

This is a separation of the unix socket restart problem from the socket cleanup problem (https://github.com/nginx/unit/issues/643) when the program is closed, as these are technically and conceptually different problems.

**Issue:**
`bind(\"unix:/var/run/unit.sock\") failed (98: Address already in use)`

[2022-04-01 15:57] echolimazulu commented on #669
In the next hour there will be a PR for this request.

[2022-04-01 16:31] echolimazulu commented on #669
The solution to the problem is proposed in the **PR**:
https://github.com/nginx/unit/pull/670

[2022-04-02 08:54] echolimazulu commented on #669
**Repository to reproduce the issue:**
https://github.com/echolimazulu/unit-bind-aaiu

[2022-04-02 12:29] #666 closed

[2022-04-02 15:11] MarkSinD commented on #668
@artemkonev thanks

[2022-04-04 09:52] #668 closed

[2022-04-04 10:27] dbit-xia commented on #570
cat /var/log/unit.log
Look at the log. Are there any error messages?

[2022-04-04 10:56] tippexs commented on #570
I will look into this. Sorry for the long delay. It is prob because you are setting up another listener in js as well.

[code]
I saw similiar issues running NGINX Unit in none daemonized mode (like in docker). Will send you a PR by the end of today.

[2022-04-05 11:13] tippexs commented on #570
I was able to reproduce it. It is not related to node but more with our Docker Image. Thanks for bringing that to our attention. Will let you know once fixed.

[2022-04-05 11:34] AlexBerdnikow opened #671 "I can't install unit-http"
Hello everyone.

Description:    Ubuntu 20.04.4 LTS
node               v16.14.2
npm                v8.6.0
node-gyp        v9.0.0

unit/stable,now 1.26.1-1\~focal amd64 [installed]
unit-dev/stable,now 1.26.1-1\~focal amd64 [installed]
unit-python3.8/stable,now 1.26.1-1\~focal amd64 [installed]

An error occurs when executing the command:
`sudo npm install -g --unsafe-perm unit-http`

npm ERR! code

[2022-04-05 13:07] tippexs commented on #671
This error says you do not have `make` installed. Please try to install make issues `apt install make`

[2022-04-06 06:52] AlexBerdnikow commented on #671
Thank you @tippexs. The command that helped me `apt install build-essential`

[2022-04-06 07:30] tippexs commented on #671
Yes. That pkg will include `make` and friends. Glad it works for your now.

[2022-04-06 07:30] #671 closed

[2022-04-06 07:58] tippexs commented on #528
Hey @hongzhidao :) What did you do here? Is this something we can close or lets have a quick chat about it.

[2022-04-06 07:59] #524 closed

[2022-04-06 09:41] #528 closed

[2022-04-06 10:49] #618 closed

[2022-04-07 03:40] hongzhidao commented on #669
Hi, @echolimazulu

Thanks for your patch.
Actually, it's much more complicated. It also happens during reconfiguration.
Just take a look at the case:
[code]
Then
[code]

[2022-04-07 06:08] echolimazulu commented on #669
Good morning @hongzhidao,

Thanks for the option you suggested.

Reproducing the specified list of commands with the patch (**PR:** https://github.com/nginx/unit/pull/670) applied, I get an error:
[code]
It seems to me that these are slightly different problems. Since the configuration you described above causes a problem related to the router, configuration, parameters, validation. And the proble

[2022-04-07 07:58] hongzhidao commented on #669
[code]

Try the new conf.json, it's just an object for `unix:/tmp/test.sock`.
[code]

[2022-04-07 14:00] echolimazulu commented on #669
Thanks for the correction.

**Execution log:**
[code]
It seems to work.

[2022-04-07 14:02] hongzhidao commented on #669
Is it based on your patch?

[2022-04-07 14:07] echolimazulu commented on #669
[code]
Yes, I even specifically recompiled the Unit build to double check this.

Checked twice.

[2022-04-07 14:13] hongzhidao commented on #669
Ok, mine is based on the official release.
Just remind it that there is a problem during re-config.

[2022-04-07 17:53] Izorkin opened #672 "Error apply configuration with use jemalloc memory allocator and glibc 2.34"
Error apply configuration with use jemalloc memory allocator and glibc 2.34.
Testing on Ubuntu 21.10 and NixOS Unstable.
### Steps To Reproduce
1. Install jemmalloc
[code]
2. Create file `/etc/ld.so.preload:
[code]
3. Restart unit:
[code]
4. Write configuration `config.json`:
[code]
5. Apply configuration:
[code]

Error:
[code]
Debug log: [unit-debug.log](https://github.com/nginx/unit/files/844535

[2022-04-07 19:45] tippexs commented on #672
Thanks for reaching out. From the debug log it looks like there is a problem with a pointer in the PHP Lang module. Could you try to use Unit with a minimal configuration:

[code]

This configuration will not call any application modules. That will help to locate the issue.

[2022-04-07 20:03] Izorkin commented on #672
This config applied:
[code]

[2022-04-08 07:22] #665 closed

[2022-04-08 07:24] tippexs commented on #657
Hi @TuzelKO sorry for the late response on this. Not now but I will try to create an setup again with some more files and keep downloading them. Will keep you posted as soon as there is anything new.

[2022-04-08 15:22] troplolBE opened #673 "Grafana patch not working"
Hi !

I know this is not a priority for you guys but I would like to point out that your current Grafana setup page does not work anymore. I see in the patch that it was made in 2020 and that it is quite old. I also tried to make it work with your manual fixes but that didn't work too.

Does anyone have a working one for the recent versions of Grafana ?

Thanks a lot !

[2022-04-08 19:44] tippexs commented on #673
Hi thanks for reaching out! We will check out Grafana example and update the howto!

Keep you posted! 😇

[2022-04-08 20:06] troplolBE commented on #673
Hey,

Thanks a lot for your response. If I can help in any way, please ask.

[2022-04-09 12:53] alejandro-colomar opened #674 "Support empty "location" headers."
An empty string in Location is handled specially, by not sending a Location header.

This is a useless scenario, I think.  But it might happen, especially after variable resolution, so we need to consider it.

The obsolete RFC 2616 defined the Location header to consist of an absolute URI
<https://www.rfc-editor.org/rfc/rfc2616#section-14.30>, which cannot be an empty string.

However, the current

[2022-04-09 20:25] alejandro-colomar commented on #674
After fixing an issue with <https://github.com/nginx/unit/pull/660>, it's not clear that supporting empty Location headers will be better (nor worse).

We can add support, but it's not something that I would care too much for now.

[2022-04-11 10:06] artemkonev commented on #673
@troplolBE We actually have an update in the works, we'll see if i can be published any time soon.

[2022-04-12 09:54] tippexs commented on #669
Hi @echolimazulu - Thanks for the contribution, again 🚀
We have looked into the issue with the Unix Sockets and we should split the problem into two different chunks.
1. Being able to restart Unit while using previously created Unix Domain Sockets as `listeners`
2. Clean-Up old Socket files

As the 1st issue is the most important one to release this feature in one of the next releases, your idea s

[2022-04-12 20:45] tippexs commented on #674
As discussed today. Sounds like a good idea. Given the variable resolves to an empty string `""` the Location-Header will be `Location: ` which is fine in that case. Agree on that.

[2022-04-13 09:34] alejandro-colomar commented on #674
I'd say yes.  But I already have the code, so I'll assign it to myself :)

[2022-04-13 09:52] alejandro-colomar opened #675 "Support `$` as a URI sub-delimiter"
`$` is a reserved character for URIs, for use as a subdelimiter.  However, we already use that character for Unit variables.  To be able to Represent a literal `$`, we need some variable or character sequence that evaluates to the `$` itself.

For more details, including RFC references, see the PR where this issue was first raised:
https://github.com/nginx/unit/pull/660

@VBart proposed adding a v

[2022-04-13 09:55] alejandro-colomar commented on #675
I should note that while discussing some completely unrelated thing, I just met a URI in the wild that had a `$` subdelimiter, so they are actually in use in some places.

[2022-04-13 14:47] Phylu opened #676 "nginx unit fails when web application load time is longer than 60 seconds"
I have a python web application, that has a very long loading time due to some heavy database calculations that need to be run one on start time of the application. When running the application in a docker container with nginx unit, the setup of the application fails. The curl request in the docker entrypoint that configures the web app (https://github.com/nginx/unit/blob/master/pkg/docker/docker-

[2022-04-13 21:38] nergalex opened #677 "loop "docker-entrypoint.sh: Waiting for control socket to be removed...""
DESCRIPTION
Container logs show an infinite loop of record `/usr/local/bin/docker-entrypoint.sh: Waiting for control socket to be removed...`
Impact: Unit is not responding
[code]

CONTEXT
Unit version: 1.26.1
Docker logs:
[unit-debug.log.txt](https://github.com/nginx/unit/files/8484761/unit-debug.log.txt)
Dockerfile: [here](https://github.com/nergalex/f5-xc-logstream/blob/master/build-ce/Dockerfi

[2022-04-13 22:08] nergalex commented on #677
Workaround (dirty): force kill unit in docker-entrypoint.sh
Example [here](https://github.com/nergalex/f5-xc-logstream/blob/master/build-ce-workaround/logstream-xc.sh)
Logs:
[unit-ok.log](https://github.com/nginx/unit/files/8484941/unit-ok.log)

[2022-04-14 07:33] tippexs commented on #676
Hi @Phylu thanks for reaching out. You are right - that sounds like an timeout. Have you tried that without docker? Does it behave the same way? To be able to reproduce are you able to share your main python file? I will try to reproduce this with a simple timeout in the main startup phase of the application.

[2022-04-14 07:36] tippexs commented on #677
We are currently working on a fix for #570 . Are you able to share the unit configuration? Do you have any sort of outgoing database connections or similar things in your application?

[2022-04-14 07:38] Phylu commented on #676
Hi @tippexs
Thanks for the response! I am not sure how to test this with unit outside of Docker easily due to this special configuration logic. You can find my main python file (`app.py`) in the issue description.

[2022-04-14 07:45] tippexs commented on #676
Perfect. That is the exact same approach I am following right now. Let me quickly test this with and without docker and share the result here.

[2022-04-14 18:54] nergalex commented on #677
Hi Tippexs,

Correct, good catch, a Thread was not set as [daemon ](https://docs.python.org/3/library/threading.html#threading.Thread.daemon) in App code. Now it's OK.

Thank you !

[2022-04-14 18:54] #677 closed

[2022-04-15 03:28] hongzhidao commented on #676
@phylu

curl: (52) Empty reply from server

Could you share the log file `unit.log` with debug mode?

[2022-04-15 09:51] Phylu commented on #676
@hongzhidao Here is the debug log from running it in docker via `CMD ["unitd-debug","--no-daemon","--control","unix:/var/run/control.unit.sock"]` and setting the `time.sleep` to `120` seconds. I am currently on another machine and the timing here seems a little bit different and this ensures that it fails.

[debug.log](https://github.com/nginx/unit/files/8495264/debug.log)

You won't see the curl

[2022-04-17 16:23] damalhot opened #678 "Support UDP load-balancing for TFTP"
nginx can load-balance TCP and UDP traffic. But things do not work when backend is a TFTP server. Certain protocols like TFTP use fixed port for control traffic (port 69) and a random port  for data traffic. In such cases, data traffic is not received by the client.

[2022-04-17 21:01] tippexs commented on #678
Hi @damalhot

this is the NGINX Unit repo, you may want to ask your question here: http://nginx.org/en/support.html

[2022-04-18 08:29] #678 closed

[2022-04-20 20:08] alejandro-colomar opened #679 "NXT_TEST_CFLAGS being set in auto/os/test?"
`$ grep -rnI NXT_TEST_CFLAGS`
[code]

`$ cat auto/os/test`
[code]

I'm not sure why those are being set.  It looks like those are not being tested at all (we're not running `auto/feature` which is the only place `NXT_TEST_CFLAGS` seems being read for something useful, nor the content of the variable seems being later assigned to the actual `NXT_CFLAGS` after some test).

---

As something related,

[2022-04-20 21:04] VBart commented on #679
Hm... Could you clarify what do you mean here? Because `auto/feature` actually checks for `-` in the beginning of `$nxt_feature_incs` and doesn't add `-I` in this case.

[2022-04-20 21:10] VBart commented on #679
Hm... the `auto/feature` is run for each feature test.

[2022-04-21 19:08] alejandro-colomar commented on #679
Nah, you're right there.  I forgot about that obvious detail.  Probably effects of COVID :)

So `nxt_feature_incs` is effectively an extra CFLAGS that we set for each test.  That's what I think I'll use for testing the Clang flag.

[2022-04-21 19:13] alejandro-colomar commented on #679
Yes, what I meant here is that we're not setting `NXT_TEST_CFLAGS` for a specific case.
The only thing that would make some sense to me right now is:
maybe we need those extra CFLAGS for all (or many) of the `auto/feature` tests but don't need them for Unit code itself?
I guess we don't need them in Unit, because otherwise they would already be in `NXT_CFLAGS`.

[2022-04-21 20:24] VBart commented on #679
That's what the code tells.

To answer this question we need access to those platforms where they are set. I don't have, unfortunately, but Igor added them for purpose. Maybe `NXT_TEST_CFLAGS` can be removed, but only if we decide to not support those platforms or if we check and confirm that it's no more needed there (or can merged into `NXT_CFLAGS`).

[2022-04-21 22:42] alejandro-colomar commented on #679
Thanks.

[2022-04-21 22:42] #679 closed

[2022-04-21 23:38] VBart commented on #679
Well, a bit more investigation shows that my previous explanation is not accurate. Actually these options are defined and documented here as well: https://github.com/nginx/unit/blob/master/src/nxt_unix.h#L131

So, it seems these options are needed not only for tests, but for most of Unit code (at least that depends on `nxt_unix.h`).

Why didn't Igor add them to CFLAGS? I guess, there can be at lea

[2022-04-22 07:42] echolimazulu commented on #669
Hello @tippexs!

Sorry for the long answer on my part.

Thank you for your attention to this issue!

I'm happy to help resolve this issue. @hongzhidao and I are trying to actively work on this issue. I am sincerely glad to work together with the professionals from your team and I endlessly appreciate the experience that you can get in the process of solving this problem!

[2022-04-22 21:53] alejandro-colomar opened #680 "System header warnings (as errors) triggered by `-I`"
I got some ruby-dev warnings while configuring the Ruby module with Clang.  It seems I have a version old enough to not understand `__attribute__((__error__ ("msg")))`, used by the Ruby library, and I get `-Wunknown-attributes`.

The reason I'm getting the warning from the system header is we're using `-I` instead of `-isystem`:

<https://github.com/nginx/unit/blob/8138d15f76b1017ba61273f69416ffbe

[2022-04-22 23:01] VBart commented on #680
Please make sure that you're using the same compiler for building Ruby itself. I guess `ruby/config.h` is generated depending on the compiler features and OS environment.

[2022-04-24 08:46] Phylu commented on #676
@tippexs @hongzhidao Is there any further information that you need for reproducing the issue or anything else that I may try in order to fix this myself. I would be happy to open a PR with a solution if I am able to finde one.

[2022-04-24 10:17] tippexs commented on #676
@Phylu I have something to test. The issue is not in the Unit source. We were not able to reproduce the issue on other OSes like Ubuntu, Mac or CentOS.

Will share some idea how to fix this later today.

[2022-04-24 18:21] tippexs commented on #676
Hi @Phylu I have now tested it on a lot of different environments and sometimes I receive the empty response from server and sometimes not. Even on Debian 11 sometimes it works and sometimes not.

What Docker-Version are you using as in my Docker Environment I am not running in this issue :(

[2022-04-24 19:19] tippexs commented on #676
Hi @Phylu

sorry for the really long delay with this issue. I was finally able to reproduce it constantly and found the timeout in the unit source code. We are closing the connection to the config http endpoint after  60 seconds.

We will check if it makes sense to make this timeout configurable. For now and your issue it is faster to quickly change the sources.

[code]

You can change the timeout

[2022-04-24 19:22] Phylu commented on #676
@tippexs Thanks a lot! I will try is I can get it to work accordingly.

[2022-04-25 10:27] tippexs commented on #676
@Phylu We have just discussed it in the team and we are going to increase the timeout statically to 300 seconds. Will be part of 1.27 and you do not need to modify the source by yourself anymore by the time of the release. PR will be around in the next hours. Going to close this. Lmk if you need anything else and thanks for reporting this to us.

[2022-04-25 10:27] #676 closed

[2022-04-25 11:50] Phylu commented on #676
@tippexs Awesome. Thanks a lot for the help!

[2022-04-25 12:03] Phylu commented on #676
@tippexs Do you have any idea already, when the 1.27 release is planned? :)
Just checking if I can wait for it or need to do a workaround in the meantime.

[2022-04-25 20:13] tippexs commented on #676
@Phylu Yes we are working on our release schedule for 1.27 atm. Can tell you something more specific next week.

[2022-04-27 19:28] #680 closed

[2022-04-27 20:40] alejandro-colomar opened #685 "Inconsistency in function-like macro definitions style"
We have a mix of styles for declaring function-like macros:

Style A:
[code]

Style B:
[code]

We have a similar number of occurences of each style:

[code]

(Those regexes aren't perfect, but a very decent approximation.)

Real examples:

[code]

[code]

I'd like to standardize on a single style for them, and IMO, having the identifier in the same line as `define` is a better option for the follo

[2022-04-27 20:43] alejandro-colomar commented on #685
Cc: @VBart
Cc: @hongzhidao
Cc: @artemkonev
Cc: @tippexs

[2022-04-28 23:22] ac000 commented on #672
I also see the same thing by simply doing (on Fedora 35, jemalloc 5.2.1, php  8.0.18)

[code]

[2022-04-29 05:53] tippexs commented on #685
@alejandro-colomar thanks for the analysis. Style B is the better option. I think it's fair to fix them as we see them. Happy Friday ☺️

[2022-05-03 08:54] tippexs commented on #650
@mar0x do you think it is possible (technically) to change this behaviour? Was playing around with Typo3 (CMS) on Unit and there docs are telling me to use symlinks for the `typo_src`. Will look into the PHP Module to learn more about the check but if you could point me in the right direction, that would be great.

[2022-05-03 10:41] #685 closed

[2022-05-04 15:04] alejandro-colomar opened #691 "How to find function, macro, and type definitions"
I developed the following bash(1) functions to help me find function definitions and type definitions.  They make use of some rare programs such as pcregrep(1) and some GNU extensions to POSIX programs (such as grep -h), but I hope they are useful to most users/programers.

[code]

We might want to consider adding this to the repository, maybe to a `scripts/` directory.  For the moment I'll leave

[2022-05-04 15:12] alejandro-colomar commented on #691
Examples of usage:

[code]

[code]

[code]

[code]

[2022-05-05 08:38] tippexs commented on #691
Good stuff! We should add some preflight checks for the tools needed. Can do this. Is there a way to contribute or should I just copy the script in my repo and hack around?

[2022-05-05 09:42] alejandro-colomar commented on #691
Hmmm, now you say it, this tool would be useful not only for us, but for any C programmer out there.  I'm going to create a new repository, called maybe `cutils`, and put this as a `#!/bin/bash` script there called `grepc`.  The tool could be improved to detect other styles in the future too.

[2022-05-05 12:33] sebastian-philipp opened #692 "containerized Django logging best practices"
Hi folks,

I was looking into getting logging of my Django app to work in a containerized unit, but not sure how to get it right.

General best practice for containers is to log to stdout and that's what I tried to do like so:

[code]
But this doesn't work, as AFAICS nginx-unit is spawning a new process for the app. An alternative would be to write the log to the main process as in `'stream': open

[2022-05-05 22:55] alejandro-colomar commented on #691
Main git repository: <http://www.alejandro-colomar.es/src/alx/alx/grepc.git/>

GitHub mirror: <https://github.com/alejandro-colomar/grepc.git>

[2022-05-05 22:56] alejandro-colomar commented on #691
@tippexs  you (and anyone) can contribute to that repo, via email (patches) or also github PRs

[2022-05-06 00:23] alejandro-colomar commented on #685
Related: <https://github.com/nginx/unit/issues/691>

And this: <https://github.com/alejandro-colomar/grepc>

[2022-05-06 17:05] ac000 commented on #675
So, yes, using ${sign} to represent a literal _$_ is straightforward and the patch looks like

[code]
and seems to work

From unit config
[code]
[code]

However, I also prefer the _$$_ idea and it also somewhat mirrors the likes of printf(3) with _%%_, so that's what I'm going to look into next.

@alejandro-colomar Do you have an example of such a URL? I can't say it's something I remember ever se

[2022-05-06 18:43] alejandro-colomar commented on #675
@ac000  Sure, here the URL: <https://wd5.myworkday.com/ffive/d/task/1422$1469.htmld>

However, I have no idea what meaning that dollar has.

[2022-05-06 19:13] ac000 commented on #675
@alejandro-colomar Thanks for that.

[2022-05-09 14:57] ac000 commented on #675
So with this patch on top of the above

[code]

Using $$ to represent a single $ for sub-delimiters (or anything else I guess)
now works.

E.g In unit config

[code]
[code]

A pull request will be forthcoming.

[2022-05-09 15:59] alejandro-colomar commented on #675
Great!

I guess it handles `$$$host` correctly, and rejects things like `$$$notavar`, and handles `$$host` as meaning literally `$host`.  Right?

[2022-05-09 16:30] ac000 commented on #675
@alejandro-colomar

[code]
[code]

[code]
[code]

[code]
[code]

[code]
[code]

[2022-05-10 06:45] hongzhidao commented on #651
@winduptoy
It has been fixed with the commit: https://github.com/nginx/unit/commit/0032543fa65f454c471c968998190b027c1ff270

[2022-05-10 06:45] #651 closed

[2022-05-10 13:46] razvanphp opened #694 "apcu_fetch(): Failed to acquire read lock on production testing"
Hello,

We are trying to replace php-fpm with nginx unit, running inside docker, but after tuning the setups to the same resources and configuration, we get this error from `apcu` lib:

[code]

The code there is very simple:

[code]

Any idea why this is happening? Do we need to change something in regards to concurrency locks now that php is running in embed mode?

Thank you in advance!
R

[2022-05-11 07:06] Phylu commented on #676
@tippexs Do you have some ideas about the release date already? :)

[2022-05-11 10:08] tippexs commented on #694
Hi @razvanphp Do you have some sources to reproduce this error / issue? We will have a look on it

[2022-05-11 10:27] razvanphp commented on #694
What do you mean by sources? A complete reproducible setup/code? Not really, but the relevant PHP part is already pasted above.

[2022-05-11 21:37] tippexs commented on #694
Hi @arku31 - thanks for making that clear. We will try to create a peace of software that will be able to reproduce it but could you also share the Unit debug log? That would help.

[2022-05-12 11:13] tippexs commented on #676
Hi @Phylu we have scheduled the next release for end of May (Thu. May 26th). So it will be around the corner.

[2022-05-12 15:24] sebastian-philipp commented on #692
fyi, I ended up with creating an intermediate ENTRYPOINT like so:

[code]

[2022-05-12 19:54] tippexs commented on #692
Hi @sebastian-philipp . I was literally working on the same approach but was looking for something more elegant but couldn't find anything, yet.

So for now I believe this is the best way doing it. Maybe you can keep the default `docker-entrypoint.sh` script and use a shell script in the `docker-entrypoint.d` directory. More information here: https://unit.nginx.org/installation/#docker-images

Giv

[2022-05-12 19:59] ac000 commented on #597
This has been handled in commit 5665838b680c

[2022-05-13 07:29] sebastian-philipp commented on #692
Would that also work for container restarts?

[2022-05-13 10:12] danielgianni commented on #496
If python3 with Apache2 use apt-get install libapache2-mod-wsgi-py3

[2022-05-13 13:03] #654 closed

[2022-05-14 21:24] jalaziz commented on #692
Other app servers tend to have an option to forward stdout/stderr from child processes to the parent process. Would be nice if Unit could handle this automatically.

[2022-05-16 07:21] tippexs commented on #692
No - That is the issue in this case. The script will be executed if and only the NGINX Unit state dir is empty. In this case using our pre-build Image as a base image and override the entrypoint would be the best option.

[2022-05-16 09:01] hongzhidao commented on #427
Hi

Here's the patch of metrics exported from Unit.
https://gist.github.com/hongzhidao/79ace78851667e50474623f9d191aeab

Welcome to suggest.

For example:
1. start
[code]
2. get status
[code]
Or
[code]

Currently, we only support very basic statistics, welcome to suggest more metrics.

[2022-05-16 09:32] alejandro-colomar opened #696 "variables in "chroot" with constant "share""
[code]

As far as I can read from that code, `if (share->is_const)` we don't even check if there are variables in `chroot`.  We just copy the raw `chroot` string and use it, right?

See:

[code]

I also see no pytests that use variables in `chroot` without using variables in `share`.

This issue was raised originally in https://github.com/nginx/unit/pull/684, and blocks that PR.

[2022-05-16 15:01] hongzhidao commented on #696
Here's the related source code.
[code]

[2022-05-16 18:52] alejandro-colomar commented on #696
Okay.  But, I still couldn't find tests for such a case.  Maybe @andrey-zelenkov could add some.

[2022-05-17 09:14] alejandro-colomar opened #697 "Undefined befavior introduced in "variables in location""
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

So, `nxt_debug()` in the end does a `memcpy(3)` with the `loc.start` pointer.

[code]

But that pointer is `NULL` if `(conf->location == NULL)`.  And `memcpy(dest, NULL, 0);`, even if it's most of the times implemented as a no-op (and therefore unlikely to cause problems), it is undefined behavior according to the standard.

See <http

[2022-05-17 09:32] alejandro-colomar commented on #697
This was probably not caught by any tests because most if not all libc implementations out there implement that undefined behavior as a no-op.

[2022-05-17 11:10] #697 closed

[2022-05-17 13:15] alejandro-colomar commented on #697
There are other places where this UB is being triggered.  I'll open a pull request that triggers any of them.

[2022-05-17 16:25] Pavlusha311245 opened #700 "SSL certificate invalid"
I have issue with attaching certificates

My steps by documentation

`certbot certonly --standalone`

<img width="902" alt="Screenshot 2022-05-17 at 7 22 56 PM" src="https://user-images.githubusercontent.com/49598333/168860782-c1051abd-41e1-4742-b57e-76b67d6a3e65.png">

`cat fullchain.pem privkey.pem > bundle.pem `

<img width="762" alt="Screenshot 2022-05-17 at 7 24 08 PM" src="https://user-image

[2022-05-18 18:55] #630 closed

[2022-05-19 07:21] tippexs commented on #700
I have tested it just yesterday with certs from letsencrypt and it was working as expected. What's the Unit version you are using?

I will share my commands once I am back on my laptop but in general your request / config looks good.

[2022-05-19 07:22] Pavlusha311245 commented on #700
Nginx unit 1.26.1

[2022-05-19 07:22] Pavlusha311245 commented on #700
Nginx unit 1.26.1

[2022-05-19 07:25] tippexs commented on #700
Sorry just updated my comment. See above 👆🏼

[2022-05-19 07:30] Pavlusha311245 commented on #700
Wow. It works!
<img width="1007" alt="Screenshot 2022-05-19 at 10 29 12 AM" src="https://user-images.githubusercontent.com/49598333/169236922-a384c74a-1932-48bc-a73e-d3cc9c6b7b80.png">

But why arg `-d` not work? I can update the config with `-d`
<img width="827" alt="Screenshot 2022-05-19 at 10 30 16 AM" src="https://user-images.githubusercontent.com/49598333/169237117-e477ad5c-d756-408d-b90d-dd5

[2022-05-19 07:49] tippexs commented on #700
`-d` will send data in text mode whereas `--data-binary` will send data in binary mode. As the main config is just json (text) text mode will be fine. But remember to use binary upload for certificates.

[code]

[2022-05-19 07:49] #700 closed

[2022-05-19 07:50] Pavlusha311245 commented on #700
@tippexs Thank you!

[2022-05-22 04:27] jalaziz opened #703 "Access log masking"
In some scenarios, sensitive information must be passed via query strings. It would be great if Unit had support for applying masking rules when writing access logs. A simple version of this would be a regex match and replace.

This is currently possible in `nginx` using a combination of `map` and `log_format`.

[2022-05-22 05:25] hongzhidao commented on #703
Hi,
There is a patch of custom log format in the internal review, it also supports variables.

[2022-05-22 09:09] jalaziz commented on #703
Great! Does it include support for modifying/masking variables or just including/excluding them? In the masking use case we have, we'd like to include the query string in most cases, but only mask out the sensitive data.

[2022-05-22 09:25] hongzhidao commented on #703
Yes, users can modify built-in variables like `uri` and create custom variables by regex named captures.
For example:
[code]

[2022-05-22 14:17] lolgab opened #704 "Support NGINX's `auth_request` directly in Unit"
Can Unit support something like [NGINX's auth_request](https://nginx.org/en/docs/http/ngx_http_auth_request_module.html) without the need of running Unit behind a NGINX reverse proxy?
Thank you!

[2022-05-23 06:39] tippexs commented on #704
Hi @lolgab. At the moment, there is no nativ implementation of `auth_request` but I a  little python helper app would do the trick. Is that an option? If so we could use this thread to discuss the options you have.

[2022-05-23 06:42] tippexs commented on #694
Hi, No problem. We were also busy with KubeCon EU last week, but this issue is on my list this week (along site with some other PHP related once). Keep you posted and thanks for sharing the information with us.

[2022-05-23 10:43] lolgab commented on #704
@tippexs Yes, that may also work. I will try this route and let's see how it goes :)

[2022-05-23 14:45] alejandro-colomar opened #705 "Is the URI {en,de}coding algorithm correct?"
[code]

[code]

[code]

[2022-05-23 14:55] alejandro-colomar commented on #705
Let's examine these:

[code]

The `%23` in the uri is being decoded, when it shouldn't, as it's loosing its meaning as part of the path, and gaining meaning as a reserved character that delimits the start of a "fragment".

[2022-05-24 01:15] ac000 commented on #705
I wonder if this is related

[code]
[code]

Unit seems to loose the query part of the URL while nginx retains it (that's just a simple http -> https redirect).

If I use '%3f' instead of '?' then I get

from unit

[code]

from nginx

[code]

I do notice that in _src/nxt_string.c_ that _nxt_encode_complex_uri()_ & _nxt_is_complex_uri_encoded()_ gives special treatment to '?' & '#'. Although things

[2022-05-24 02:02] ac000 commented on #705
For a laugh, you can try the following patch^H^H^H^H^Hhack and watch the ensuing carnage.

[code]

Though actually only two tests seem to fail for me

[code]

[code]

The query string is still being lost some place.

[2022-05-24 02:49] hongzhidao commented on #705
According to the source code related to `$uri` variable.
[code]
The `$uri` is just the part of path.

We haven't supported a variable like `$query`, and we already have an option `query` in the match condition.
https://unit.nginx.org/configuration/#matching-conditions

[2022-05-24 04:25] ac000 commented on #705
OK, so that explains that at least!

I think the crux of the other issue is that the _nxt_encode_complex_uri()_ & _nxt_is_complex_uri_encoded()_ functions basically say that the first '?' and/or '#' that's in the string, don't encode it. Which is I guess right from the point of view if these have come from the config, maybe you're passing a fragment to the browser or redirecting with a query strin

[2022-05-24 13:11] alejandro-colomar commented on #705
Sure, this one that I pcked above:

[code]

comes from port 81, so the config is:

[code]

the command is:

[code]

And the resulting Location header is:

[code]

[2022-05-24 13:28] hongzhidao commented on #705
This can be broken down into a few steps:
1. What's the value from `$uri` for the request  `localhost:81/%23foo#`?
    It's ok to decode URI in the server-side as what Unit or nginx does.
The value is `/#foo#`.

2. Should the server do the encoding for the redirecting location.
   It seems yes.

So it makes sense to return `Location: /#foo`.
If users want to get `/%23foo`, it needs to support vari

[2022-05-24 13:29] alejandro-colomar commented on #705
I have tried the following patch, to see in what state are the contents of `$uri` if we don't touch them:

[code]

And it still produced `/#foo`, so it seems we're holding the data decoded in the variable.

So, one solution would be to consider the config static string to be in the same state (i.e., not encoded).  That means that if someone writes `%23` in a location static string, it will be enco

[2022-05-24 13:33] alejandro-colomar commented on #705
@hongzhidao  The Location header is served to the client, which should never receive an unencoded URI, right?

[2022-05-24 13:35] alejandro-colomar commented on #705
Another solution would be to store the contents encoded.  But that might have problems, especially when we want to use the path to serve a file.  Maybe we should be able to (en|de)code variables independently of the rest of the string?

[2022-05-24 13:39] alejandro-colomar commented on #705
The contents of `$uri` are `/#foo`.

We should send `/%23foo` to the client.

Alternatives that I can think of:

A) store `$uri` as `/%23foo`.  That way we can serve it directly.

b) only accept unencoded location strings in the config.  I don't like this, since then you can't express reserved characters in the location at all.  A written uri should always be encoded, I think.

[2022-05-24 13:43] hongzhidao commented on #705
Yes, it's a separate topic. `$uri` is the value from `r->path` which has been decoded. See `src/nxt_http_parse.c`.

[2022-05-24 13:47] alejandro-colomar commented on #705
So, I think we should always work with encoded URIs.  We should assume the string in the config in "location" is encoded, and don't try to encode it again. And for that we should keep an encoded version of `r->path`.

[2022-05-24 13:55] hongzhidao commented on #705
Currently what unit does are:
1. {de} URI for the request URI but it doesn't support variables for the original URI.
2. {en} location for the redirection response.

Anyway, do you think the current only problem is users can't response `/%23foo` for request `/%23foo`?

[2022-05-24 15:43] alejandro-colomar commented on #705
Yes, it's not a huge bug.  Maybe we could assume it, and decide later how to fix it.

[2022-05-24 16:32] hongzhidao commented on #705
It should be decoded. I think it's correct as what Unit and nginx did.

Unit encodes the location if possible.

If it has been encoded, Unit ignores it. Is the logic incorrect? If yes, how to improve it?

I don't see where the logic is wrong.
1. Is the logic of {de} uri for request and {en} redirection location wrong?
2. Is the {de} algorithm wrong?

[2022-05-24 16:45] alejandro-colomar commented on #705
@hongzhidao

[code]

My idea:

[code]

[2022-05-25 03:23] ac000 commented on #705
If memory usage is a concern then an option might be to just store the raw uri as it is presented to Unit from the client, (and I think Alex hinted at it earlier) then in places where you need to use it to say access a local resource, decode it then.

If it's being used in a redirect or passed through to another server etc then it shouldn't be touched as it should already be in the right format fr

[2022-05-25 09:49] alejandro-colomar commented on #705
Yes, it's wrong.  We need it encoded for location.  Decoding and then encoding again is incorrect, because it's an irreversible operation.  See below at EXAMPLE.

No, we correctly decode `$uri`.  We need it decoded for things like `"share"`.

It is, in some cases like `"share"`.  It is not in `"location"` (`"return"`) cases.

Now I'm thinking that we maybe can decode conditionally, instead of havi

[2022-05-25 10:11] VBart commented on #705
It's not correct to compare two different configurations: $uri in Unit works similar to $uri variable in nginx, but in your nginx config you've used a different variable with different behaviour.

[2022-05-25 10:18] VBart commented on #705
Unit logic here is pretty simple. It tries to do our best in order to avoid mistakes: by default it assumes that user passed a correct URI in Location, but if it detects characters that must be encoded by protocol, it applies encoding on the string.

In case of variables, this operation can't be done on the configuration phase as the resulting string isn't known until variable values are interpola

[2022-05-25 10:24] VBart commented on #705
Correct behaviour or incorrect depends on what is the end result user wants. And depending on that a correct variable must be used. The `$uri` contains a **normalized** (according to [the documented rules](https://unit.nginx.org/configuration/#variables)) part of URL target without the query string.

[2022-05-25 11:33] tippexs commented on #705
Hi @VBart - great you reminded us to the NGINX way of doing it. Was talking about this yesterday internally. I checked documentation you referenced and you are right. Having another **not normalized** variable would be the best option for the user and help them to decide whats wright and wrong and in which case.

[2022-05-25 11:34] VBart commented on #705
Right. Note also, that Unit doesn't try to magically guess user's purpose. Any magic here will only complicate documentation and increase complexity with unpredictable results (and possible security issues). The encoding is only applied if it's clear that passing it "as is" will violate the protocol, otherwise the result exactly matches to what was configured. What to encode and when must be fully

[2022-05-25 14:11] ac000 commented on #705
Which is what $uri_raw would be (especially if it also contained the query string), could even just call it $request_uri!

[2022-05-25 18:59] alejandro-colomar commented on #705
I'm preparing the code.  I'll add `$request_uri` meaning exactly the same as in NGINX, for consistency.  That should solve this issue.  Will link to the code (pull request) when it's ready.

[2022-05-27 07:32] tippexs commented on #704
Thanks for sharing your idea. The most simple idea would be a implemenation with Cookies and the use of our routing matches. Another - more powerful - implemenation could be made by the use of njs. We have a beta version available using NJS on Unit. We could try to make it work with njs on unit. Whats the best use case? APIs or a real website in which we can add cookies for example?

[2022-05-27 08:29] lolgab commented on #704
Sorry, I forgot to mention my specific use case! I want to delegate authentication to [vouch-proxy](https://github.com/vouch/vouch-proxy), a microservice that handles authentication using the NGINX `auth_request` protocol.
It is nice since you can centralize the authentication to multiple applications running in the same Unit.
I haven't tried yet, but since it is written in Go, it might run in Uni

[2022-05-27 13:10] icy opened #707 "How unit/php works?"
Hi team,

My team comes up with the question how `unit/php` works compared to `nginx/php-fpm`. I have a quick look and both seem to use `php sapi`, that means the PHP version of our application won't be a problem. But I may be wrong.

To be specific, our team worries if there is any gap between the latest php development and our php support.

Thanks for for your reading.

[2022-05-27 18:32] tippexs commented on #707
Hi @icy,

yes you are correct. NGINX Unit implements its PHP functional against the SAPI from PHP.

No, the PHP Version of your application would not be a problem. As long as you can install / build the correct Language Module (Like a specific version of a PHP-FPM).

I did not get this? What do you mean by gap? Do you  have a specific PHP Version in mind?

[2022-05-28 06:27] icy commented on #707
Hi @tippexs,

Thanks a lot for your feedback.  I'm sorry if my last sentence confused you. It's about if the latest version of PHP (i.e php-8.1 or some latest versions) could be used with our `unit` product. I believe that it's positive thanks to your answer for my first question.

Thanks again and happy weekend.

PS: Let me explain the context. We have a product that's been running well with `ngi

[2022-05-29 15:46] dbit-xia opened #708 "request localServer datasize between 131k and 165k , response time > 40ms"
When request datasize between 131k and 165k , response time > **40ms**
**else** response time < **2ms**

I've tested many versions and this problem has appeared since 1.16  (1.27.0 problem also exists!)

**code repo:**
https://github.com/dbit-xia/unit_test

type: nodejs or proxy
node version: v14.19.1
unit version: unit_1.26.1-1~focal_amd64.deb
OS: linux mint 20.3 (Una)   unused container

[2022-05-29 16:46] #707 closed

[2022-05-30 08:20] tippexs commented on #708
Hi - Thanks for reaching out and sharing the PoC code. We will need some time to set this up and test it. What OS did you use to test it? Did you use any containers?

Thanks for the update

[2022-05-30 10:43] dbit-xia commented on #708
thank you for your reply,
my OS info:
[code]

[2022-05-30 11:39] alejandro-colomar opened #709 "$uri does not contain the URI."
It uses the same variable name that NGINX used.

But that name conflicts with the standard naming conventions in the relevant RFCs.  See <https://datatracker.ietf.org/doc/html/rfc3986#section-3>

I propose aligning Unit with the RFCs, adding an alias for `$uri` to the RFC-aligned name `$path`.

[2022-05-30 11:46] #709 closed

[2022-05-30 13:42] sandeep-gh opened #710 "compilation fails for Python 3.11 because python initialization api has been deprecated."
I know I am jumping a few steps ahead since 3.11 is still in beta.

The deprecated info are here:
https://bugs.python.org/issue44113

I tried following which seems to compile fine. Will report if the execution doesn't fail.
[code]

[2022-05-30 16:31] alejandro-colomar commented on #578
`Add variables in "location"` didn't fully solve this issue, since we also needed `$request_uri`.  `$uri` is problematic with location, because its contents are decoded, while location expects encoded URIs.  I'm reopening, and linking against the patch adding `$request_uri`.

Footnote:  Do NOT use `$uri` in `"location"` unless you really understand what you're doing.

[2022-05-30 16:33] alejandro-colomar commented on #667
`Add variables in "location"` didn't fully solve this issue, since we also needed `$request_uri`.  `$uri` is problematic with location, because its contents are decoded, while location expects encoded URIs.  I'm reopening, and linking against the patch adding `$request_uri`.

Footnote:  Do NOT use `$uri` in `"location"` unless you really understand what you're doing.

Use:

[code]

[2022-05-31 14:26] alejandro-colomar commented on #705
`Var: Added $request_uri (as in NGINX)` was merged.

[2022-05-31 14:26] #705 closed

[2022-05-31 14:26] alejandro-colomar commented on #667
`Var: Added $request_uri (as in NGINX)` was merged.

[2022-05-31 14:26] #667 closed

[2022-05-31 14:26] alejandro-colomar commented on #578
`Var: Added $request_uri (as in NGINX)` was merged.

[2022-05-31 14:26] #578 closed

[2022-05-31 20:43] tippexs commented on #710
Hi @sandeep-gh thanks for bringing that to our attention. We are always looking towards new versions / implementations.

Appreciate you shared the Link to the Python discussion. As the deprecation starts with version 3.11, which is currently scheduled for October 2022 I believe, but we still need to support 3.8 (EoL 2024), 3.9 (EoL 2025) and 3.10 (EoL 2026) at the same time we will have a look int

[2022-06-01 09:53] buldezir commented on #501
hi, any updates?

@hongzhidao do u have mergable pull request? or branch that can be built manually?

[2022-06-01 13:48] hongzhidao commented on #501
Hi, @buldezir

Here's the patch.
https://gist.github.com/hongzhidao/29d60b95cbaf401b012de842a2ddda01

And we plan to release it in version 1.28, it might be months away.

[2022-06-01 14:53] buldezir commented on #501
@hongzhidao sorry for stupid question, but how to apply it?
i tried `git apply unit-log-format.patch` and `patch < unit-log-format.patch` in master branch

[2022-06-01 16:12] buldezir commented on #501
i also tried to `hg clone https://hg.nginx.org/unit` and `hg import unit-log-format.patch`, its failing too.
...
im confused, u posted diff from commit that is not public yet? so patch cannot be applied?

[2022-06-01 16:24] hongzhidao commented on #501
I checked it. Since it's not a very new patch, and recently my mates published a few patches.
I have to say we usually maintain them without always rebasing the latest public commit.
I usually update it when it's ready to review and publish.

If you'd like to have a try with the feature, I will update it again with the latest commit tomorrow.

[2022-06-01 16:28] buldezir commented on #501
yep it cant merge with latest version.

for now it works with that:
`hg update -C -r 8a068eaba1e7fdc51fda2feb4f13ad5ad1eaf5f3`
and then `hg import`

[2022-06-01 21:59] buldezir commented on #501
@hongzhidao btw feature request - log format for unit log (nxt_log.c ?), need only 3 placeholder there - $time, $level, $message

---
also checked build with modified Dockerfile, everything works, just your "documentation" about variables is a little incorrect, but its easy to see what vars names are available in `nxt_http_variables.c`, example (to match with symfony monolog.formatter.json):

[cod

[2022-06-02 02:11] hongzhidao commented on #501
Updated, now the patch can be merged with the version of master.
https://gist.github.com/hongzhidao/50b7932e9d0c03aa807b610afaaf2fda

[2022-06-02 02:13] hongzhidao commented on #501
Which "document" do you mean?

Sorry that I can't get it. Could you tell me more about it?

[2022-06-02 09:16] buldezir commented on #501
https://github.com/nginx/unit/issues/501#issuecomment-737718850

There is unit log in format `2022/06/01 17:27:33 [info] 12#12 unit 1.27.0 started`, there is no control over it. in docker it outputs to same stdout as everything else, so, for example, if i want to format logs as json (kibana ready) - i need to have formatting settings for it.
Maybe it is impossible to have in config, but maybe at l

[2022-06-02 09:42] buldezir commented on #501
@hongzhidao your git patch file is corrupt (missing some data in the end), i fixed it with info from hg patch, and created diff as pull request: https://github.com/nginx/unit/pull/712
pull request as patch file: https://patch-diff.githubusercontent.com/raw/nginx/unit/pull/712.patch

[2022-06-02 10:13] lolgab commented on #511
Related on how the API changes if you want to use the full power of io_uring
https://blog.vmsplice.net/2020/07/rethinking-event-loop-integration-for.html

[2022-06-02 11:19] hongzhidao commented on #501
Yes, it's not updated, we have an official document. If the descriptions for the variables are reviewed, they will be released on the website. https://unit.nginx.org/

[2022-06-03 08:17] icy opened #714 "Variables: add request_id"
Hi team,

In our nginx setup, we are using `request_id` for tracing purpose . This is an embedded variable as documented here https://nginx.org/en/docs/http/ngx_http_core_module.html#variables. The setting is done thanks to `fastcgi` setting as below

[code]

My question is how we can get a similar thing with `unit` configuration?

Thanks for your reading and support.

[2022-06-03 08:19] lluuaapp opened #715 "Ruby/Rails: config.ru in request.path"
Hi!

Since the lates release (1.27) all my rails/rack app gets an extra `config.ru` prefix added to the `request.path`. The relatively simple config is relatively simple:

[code]

Seems the new index name feature has broken something there?

Please tell me if you need any further information. Reverted back to 1.26.1 and it works again.

[2022-06-03 15:20] lcrilly commented on #714
Hello!

How do you use this variable end-to-end? Presumably you also log this variable in the access log for correlation purposes? Or does it end up somewhere else?

[2022-06-03 20:22] icy commented on #714
We are using Symfony + Newrelic integration. Though I don't really get all details how it's exactly working, I think our developers are using `HTTP_X_REQUEST_ID` header value (which is `$request_id`) as Newrelic tracing ID.

Fyi, the Symfony project seems not to get a final resolution (discussed in https://github.com/symfony/symfony/issues/11573 ). There are some patches, but I think it's great if

[2022-06-06 09:46] tom-friedrichsen commented on #516
Hello all,

it seems I have the same issue, I don't get it. I'm working under Alpine3.15, but tested under Ubuntu 21.10 with the same effects and log entries. I try to get the [Python Flask demo application](https://unit.nginx.org/howto/flask/) up and running. I use Python 3.9.7.
I followed the documentation, still get the error message:

[code]

Logfile entries are:

[code]

Access rights of the

[2022-06-07 10:19] lucatacconi commented on #652
Hi @hongzhidao, i followed you instructions to install unit-njs-module.patch.
Importing the patch (hg import ../unit-njs-module.patch) with last unit version present in mercury repo i got this error:

[code]

Can you help me?

[2022-06-07 11:22] andrey-zelenkov commented on #696
I checked the coverage with and without tests with constant value in share and it was exactly the same. Therefore, I would suggest refraining from adding these tests without any good reasons. Closing for now.

[2022-06-07 11:22] #696 closed

[2022-06-07 20:09] ac000 commented on #715
Hi

My ruby is almost non-existent but I don't think I'm seeing what you're seeing.

Here's my config

[code]

Here's my config.ru

[code]

Here's my request

[code]

Here's 'env'
[code]

I'm not sure how to get _request.path_. Perhaps you could provide a minimal test case that shows the issue?

[2022-06-07 22:13] xeron commented on #715
I see exactly the same issue with a Rails app.

May be try a simple `rails new` and check the UI?

The problem is not in request/response, the problem is URLs generated by e.g. rails' `root_path` have `config.ru` suffix, for example `/` becomes `/config.ru` when view is rendered.

[2022-06-07 22:57] tippexs commented on #715
Thank. We will try to reproduce and let you know. Thanks for reaching out!

[2022-06-07 23:25] ac000 commented on #715
While I'm figuring out how to reproduce this, I'm looking for potential suspect commits. This so far is the only real stand out contender

    0032543 Ruby: added the Rack environment parameter "SCRIPT_NAME".

and while I can't immediately see how it would be causing your issue. It is specifically ruby related (is this only happening with ruby?) and it's dealing with SCRIPT_NAME which would be you

[2022-06-07 23:36] tippexs commented on #715
We were just talking about the exact same thing. We are going to test it tomorrow and see if this will fix the issue. If so we will investigate why and how we can combine the new feature of the `SCRIPT_NAME` as well as not breaking the current Ruby implementation. But yes - you are right.

[2022-06-08 06:36] lluuaapp commented on #715
Thanks for looking into this!

Yes, all my ruby/rack apps in unit are indeed Rails apps. And I can confirm that reverting this commit:

`0032543 Ruby: added the Rack environment parameter "SCRIPT_NAME".`

does fix the issue. Will this be fixed in code or should I try setting an (empty) `SCRIPT_NAME` env variable in the `environment` setting? Don't know when the line

`rb_hash_aset(hash_env, rb_str

[2022-06-08 10:29] alejandro-colomar commented on #715
We would also need `PATH_INFO` maybe?

[2022-06-08 15:10] lucatacconi opened #717 "PHP: Routes uri match and trailing slash"
I'm configuring a route as follow for a php application:
`
{
        "app2" : [
                {
                        "match":{
                                "uri": ["/test/*"],
                                "method": "GET"
                        },
                        "action":{
                                "pass": "applications/app2"
                        }
                }

[2022-06-08 17:54] tippexs commented on #717
Can you please share the unit.log as well as the whole unit configuration? That will help to trace down the issue. Thanks

[2022-06-09 03:41] hongzhidao commented on #717
Hi @lucatacconi

I suggest testing pure matching first. For example:
[code]
If it doesn't match, it will return 404. I just tested and it works.
If it returns 503, it shows that the route is matched, but the application doesn't work, you need to check its service.

[2022-06-09 06:37] CooperTrooper21 opened #718 "Enhancement: Docker: Restart application(s) after configuration has been applied"
Hi Team,
I have been using Nginx Unit for a while now ( it’s awesome :) ) and there one thing that I have come across that would like to enhance.

Correct me if I am wrong but these are the stages of when docker-entrypoint.sh  is executed:
    1. discovery process is started
        - If module is present, it will be verbose about it’s presents (python, php, nodejs, etc.)
    2. Controller started

[2022-06-09 11:00] lluuaapp commented on #715
Don't quite understand, should I test anything right now? The patch above? Or changing anything in my configuration?

If I am not wrong, the "script" parameter in Ruby/Rails/Rack configurations will always contains something that is rarely a part of the URL (e.g. config.ru which contains something like `run Rails.application`).

Als, my app runs behind NGINX as a reverse proxy (if that matters). T

[2022-06-09 12:43] alejandro-colomar commented on #715
No, don't try that.  That was just a guess, but a wrong guess.  I'll open a PR right now, and please check that one if you can.

[2022-06-09 13:16] tippexs commented on #715
@lluuaapp All good - no changes required on your end. The `script` param in our UNIT configuration tells UNIT what's the entrypoint of your application. The `SCRIPT_NAME` env variable for Ruby / Rails is telling Rails if there is a location / path it should attach as a prefix to each URL it creates by functions like `link_to` and friends. As @alejandro-colomar said - we are going to set the `SCRIP

[2022-06-09 15:01] alejandro-colomar opened #720 "Duplicated strings, and arrays of pointers"
[code]

We have duplicated strings for the months.  Maybe this same thing happens with other code; I should check.

Also, we could optimize this based on Ulrich Drepper's How To Write Shared Libraries paper into:

[code]

Check <https://www.akkadia.org/drepper/dsohowto.pdf> 2.4.3

[2022-06-09 17:14] ac000 commented on #148
In case anyone else comes here looking, it seems the IRC channel has moved to #nginx on irc.libera.chat (I guess since the recent freenode happenings...).

[2022-06-09 18:13] lluuaapp commented on #715
OK, can confirm that the PR above fixes the issue for me. Thanks!

Also thanks for the tip with the SCRIPT_NAME, this may simplify some configurations of my Rails apps that have the specific path.

Thanks again!

[2022-06-09 20:03] #715 closed

[2022-06-09 20:16] buldezir commented on #421
tmp solution, example /docker-entrypoint.d/config.sh:
[code]

[2022-06-10 16:24] tippexs commented on #718
Hi @CooperTrooper21 Thanks for reporting this us.

I am working currently on a fix for the “ Waiting for control socket to be removed...”-Loop issue.

Your investigation and analysis is great even if not 100% correct. Let me light up the dark a little bit more.

The `docker-entrypoint.sh` scripts purpose is to initially configure Unit at startup. In short to fill the so call state directory of Uni

[2022-06-10 20:53] CooperTrooper21 commented on #718
Hi @tippexs

Awesome! 😁 Let me know when the fix has been applied and I will be happy to test on my end.

Thanks

[2022-06-17 02:39] sycured opened #724 "RPM package: /etc/unit isn't used"
Hello, I'm building a custom unit container to serve static files.

Container base image: redhat/ubi9-init
Unit rpm package: unit-1.27.0-1.el9.ngx.x86_64

Also tried inside an RHEL 9 VM: the same issue

My config.json:
[code]

Steps used:
0. activate unit (same as your documentation): `systemctl enable unit`
1. create /var/www: `mkdir -p /var/www`
2. fix permissions: `chown unit:unit /var/www`
3.

[2022-06-17 13:32] tippexs commented on #724
We are not making use of `/etc/`.

UNIT should be initially configured using our control API. This methods provides checks of the configuration syntax and makes sure the configuration is consistent.

However Unit keeps the configuration in a state directory. Use `unitd --version` to see the path of the state directory.

You can place an initial configuration named `config.json` in this directory.

[2022-06-17 14:08] thresheek commented on #724
Indeed, I think the fact that we ship /etc/unit is merely a leftover from the times we initially shipped the packaging without fully understanding the layout unit prefers.

I think the best way is to just drop it from the packaging system so it wont confuse users.  I'll prepare some patches for that.

[2022-06-17 14:16] tippexs commented on #724
Thanks @thresheek 👍🏼👍🏼

[2022-06-19 10:29] #635 closed

[2022-06-19 10:44] tippexs commented on #612
@artemkonev this could be a great example for a new how to section about routing / advanced routing. I know the documents road map is more than full 😬

[2022-06-19 11:27] #604 closed

[2022-06-19 11:45] tippexs commented on #574
Any update on this?

[2022-06-19 16:23] #573 closed

[2022-06-19 20:40] #558 closed

[2022-06-19 20:41] #557 closed

[2022-06-19 20:41] #556 closed

[2022-06-20 10:07] tippexs commented on #423
That is a thing now. :) Will close this issue due to its complete implementation. Lmk if you have any more questions about it.
Timo

[2022-06-20 10:07] #423 closed

[2022-06-21 08:40] #231 closed

[2022-06-21 08:40] #592 closed

[2022-06-21 08:40] #545 closed

[2022-06-21 09:58] raphaelauv opened #725 "heavy python docker image since 1.22"
https://hub.docker.com/r/nginx/unit/tags?page=1&name=python

1.27.0-python3.10 is `338.31 MB`

where 1.21.0-python3.7 is `36.85 MB`

would be great to have a slim image

Thanks

[2022-06-21 10:12] thresheek commented on #725
The size change is due to us moving to Official Python docker images.

slim has the following clause in the description:

[2022-06-21 10:12] thresheek commented on #725
See https://github.com/nginx/unit/issues/519 and https://github.com/nginx/unit/issues/622 too.

[2022-06-21 10:25] raphaelauv commented on #725
okay , I see

a `1.27.0-python3.10-slim` based on `python3.10-slim`  would be great

[2022-06-21 16:13] amg-web opened #726 "Redmine uri bug?"
I used nginx unit config for Redmine 5.0.1  with ruby 2.7.5
https://unit.nginx.org/howto/redmine/#redmine

But application add /config.ru/ to all uri

[2022-06-21 16:16] tippexs commented on #446
@sergiycheck this looks like a NGINX Proxy Configuration. This is a repository for NGINX Unit and not NGINX. If you are looking for help around NGINX check out http://nignx.org/.

[2022-06-21 16:16] #446 closed

[2022-06-21 16:17] tippexs commented on #726
Can you please share your Unit configuration as well as as the version of Unit you are using at the moment?

Cheers Timo

[2022-06-21 16:21] amg-web commented on #726
@tippexs

[code]
version
[code]

[2022-06-21 16:32] tippexs commented on #726
Can you please try to set `SCRIPT_NAME` in your environment to `""` like
[code]

We have a know bug at the moment and this one will be fixed in the next released.

[2022-06-21 17:10] amg-web commented on #726
@tippexs
Thanks. I do not need it urgent.
I'll wait for fix.
do you need more information for current config?

[2022-06-21 17:13] tippexs commented on #726
No that is probably totally fine for now. We already know what the issue is. Will keep this issue open till 1.28 release. Thanks for reporting that to us!
Cheers

[2022-06-22 11:32] CooperTrooper21 commented on #718
Hi @tippexs

Hope you are well! 😁

Do you know roughly when the fix will be applied?

Thanks

[2022-06-22 11:59] kkzetAM commented on #610
Hi,
I still have this problem in 1.26, 1.26.1 and 1.27 with python3.9
`FROM nginx/unit:1.26.1-python3.9`

But, This problem occurs randomly.

`/usr/local/bin/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, launching Unit daemon to perform initial configuration...
2022/06/22 11:37:02 [warn] 12#12 Unit is running unprivileged, then it cannot use arbitrary user and group.
2022/06/22 11:37:0

[2022-06-22 19:07] Pavlusha311245 opened #727 "Parallel work with supervisor inside docker"
Maybe a stupid question, but I'm having trouble starting a container on Nginx Unit with Supervisor. Only one of these technologies starts. Is there any way to start the Supervisor at container startup without breaking the Unit ?
<img width="346" alt="Screenshot 2022-06-22 at 10 07 12 PM" src="https://user-images.githubusercontent.com/49598333/175116926-1abccc0b-4755-4d21-9348-36c202eb2ca4.png">
My

[2022-06-23 11:25] kkzetAM opened #728 "Container: Waiting for control socket to be removed"
Hi,
I still have problem with `Waiting for control socket to be removed` in 1.26, 1.26.1 and 1.27 with python3.9, this was the same: https://github.com/nginx/unit/issues/610

`FROM nginx/unit:1.26.1-python3.9`

This problem occurs randomly.

[code]

[2022-06-23 15:30] tippexs commented on #728
Fix is already developed and will be part of the next release. Thanks for reporting it to us.

[2022-06-23 18:53] Dikower commented on #574
I have the same problem. Trying to run it inside Docker Alpine container.
[code]
Works as expected. But configuration using [this script](https://github.com/nginx/unit/blob/master/pkg/docker/docker-entrypoint.sh) throws the error
![img](https://user-images.githubusercontent.com/25639843/175375803-e3a3f46d-dae2-443d-87a3-1f08bceac07a.png)

[2022-06-24 06:05] tippexs commented on #727
This looks like you are trying to send `unit` to supervisord. Which will not work. What are you trying to do? What is the use case for using supervisord in your container?

[2022-06-24 06:14] Pavlusha311245 commented on #727
@tippexs I'm trying to start supervisord after container startup.

[2022-06-24 09:43] tippexs commented on #727
as you can see in the error message you have provided your are trying to use `unitd --no-daemon` as a supervisord command which will not work.

If you want to start unit with supervisord you should create a supervisor configuration
http://supervisord.org/configuration.html

[2022-06-24 09:53] PaulZavadski commented on #727
@tippexs I will try

[2022-06-24 12:17] #727 closed

[2022-06-26 22:48] aspiringguru opened #729 "config case sensitive error missed by 'nginx -t', failed during 'systemctl restart nginx' ('SSL'=bad, 'ssl'=good)"
as per the title

I had this line in a '/etc/nginx/sites-available/domain-name' file

[code]
this passed nginx error-checking /testing
[code]

then nginx failed during
[code]

thankfully checking
[code]
identified the error including a line number reference which made the fix easy,
[code]

Not a huge issue, would be 'nicer' for this to be caught during 'nginx -t'

my environment
Ubuntu 22.04 LTS
n

[2022-06-27 08:03] tippexs commented on #729
Hi @aspiringguru

this is a bug tracker and repository for NGINX Unit. If you want to ask questions about NIGNX you can use the mailing list or the NGINX github repository. More information can be found here https://nginx.org/en/support.html

Let me know if you need anything else.

[2022-06-27 08:04] #729 closed

[2022-06-28 07:16] amg-web opened #730 "How to use specific ruby version?"
I use specific ruby version for the project installed with rbenv under restricted user environment:
/home/<user>/

how to config unit to use this specific ruby instead of system one?

[2022-06-29 06:15] tippexs commented on #730
Good morning @amg-web,

The ruby version is always bound to the ruby language module. If you need multiple ruby versions at the same time you need to build the ruby module from source according to the ruby language.

http://unit.nginx.org/howto/source/#modules-ruby

What ruby version are you using? Let me know if you need any more assistance.

[2022-06-29 06:17] tippexs commented on #725
@raphaelauv currently, we are working on becoming an official docker package. Once that process has been finished, it will be a lot more easier to create those images. We will keep this issue open till that day and let you know as soon as we have any updates on this.

Thanks for reaching out! Appreciate it!

Cheers Timo

[2022-06-29 06:32] amg-web commented on #730
@tippexs
Thanks for info.
A little complicated approach, isn't it?

Can you point me to full working config with configured domain name, TLS, certificates and redirects http->https ?

some other tools allows to select desired ruby version by simple line in a config (eg. passenger, same with node and python)

[2022-07-01 00:02] Thesephi opened #731 "Naive npm installation from scratch yields a cryptic error to beginners"
Hi all,

I've been using unit-http in my research projects for a few years now. Usually I follow the [official installation guide](https://unit.nginx.org/installation/), where I install all the system packages first, then I do `npm install unit-http` successfully.

Today was the 1st time I do `npm install unit-http` first on a brand new host machine. And so (understandably) I ended up with a faile

[2022-07-01 15:30] lcrilly opened #732 "URI rewrite"
The generic requirement is for Unit to accept requests for one URI, and process it as if it were for a different URI. This need often arises as web sites/apps evolve, and resources get reorganised. Clients may continue to make requests against URIs that no longer exist. Unit can preserve the original behaviour and optimize for end user experience by transparently rewriting the URI to one that exis

[2022-07-01 15:41] lcrilly commented on #530
Planned as #732

[2022-07-01 15:42] #530 closed

[2022-07-01 16:07] #382 closed

[2022-07-02 13:14] alejandro-colomar commented on #676
Merged.  Sorry for the delay :)

[2022-07-06 14:57] travisbell commented on #562
Hey @hongzhidao, I don't think this ever landed in an official release, did it?

[2022-07-07 08:14] artemkonev commented on #592
@leiserfg I believe you're looking for this:
https://github.com/nginx/unit/commit/9d2672a701e3dcaee45bef9251ab55620d42fa42
The docs are usually refreshed with the release, so I'm working on the update right now.

[2022-07-07 14:16] saper commented on #445
Ouch, we just ran into this issue with [Axway API Gateway](https://support.axway.com/kb/176289/language/en) ...

[2022-07-07 23:11] travisbell commented on #562
Awesome, thanks @tippexs!

[2022-07-08 21:03] saper commented on #445
We started using unit for some REST services and now someone put Axway API manager in front of them - the result - unit always sends 411 Length Required, because API manager ALWAYS transforms requests with Content-Length into chunked encoding.

We also could not easily tell unit to dump all requests and responses received, hard to trace the down (debug mode prints lots of syscall and thread info b

[2022-07-12 08:47] lcrilly commented on #445
Thanks for the extra context - that's really helpful. In this case, I suspect the Axway behavior is due to it's transformation features for things like JSON/XML conversion. It's a shame that it does the same even when no transformation occurs.

We strive to be RFC compliant and update the issue title to reflect that. For now, this is on the backlog, but no ETA just yet.

[2022-07-17 00:42] dbit-xia commented on #708
v1.27.0 this problem also exists!

[2022-07-19 19:58] LearnitRm opened #736 "nginx 1.19.0 *ERROR : peer closed connection in SSL handshake (104: Connection reset by peer) while SSL handshaking to upstream"
Hi

We are using nginx proxy  v1.19.0 for outbound connectivity to client endpoint.

we see intermittent connectivity issues to client endpoint :
*164817 peer closed connection in SSL handshake (104: Connection reset by peer) while SSL handshaking to upstream.
My nginx configuration :
data:
  egress-service-meshproxy.conf: |

    server {

      listen 9080;

      server_name www.services.com;

[2022-07-20 11:18] alejandro-colomar opened #737 "MacOS implements pivot_root(), but differently from Linux"
The recent commit <https://github.com/nginx/unit/commit/5015b05fc495bf3e87f8decfd1617a4a399939d4> improved portability of syscalls by using `SYS_xxx` instead of `__NR_xxx`.

This had a few unexpected side effects:

- Since only Linux documents the existence of pivot_root(2), we thought that it's existence guaranteed the existence of a header that only exists in GNU/Linux systems: `<mntent.h>`.  No

[2022-07-20 20:03] alejandro-colomar commented on #737
Since the fix will involve changing `NXT_HAVE_PIVOT_ROOT`, it'll conflict with the headers fixup (in ReviewBoard now), so I'll wait to write the fix about pivot_root(2).

[2022-07-20 23:35] #675 closed

[2022-07-22 11:24] andreivasiliu opened #738 "RUST: Questions about the C API"
Hi! I'm trying to make some unofficial Rust bindings for `libunit.a` (see [unit-rs](https://github.com/andreivasiliu/unit-rs)), and I have some questions about the [C API](https://github.com/nginx/unit/blob/master/src/nxt_unit.h).

Right now my bindings are pretty bad. It seems there's several things I got wrong and I might have several misconceptions that are making my bindings a lot more restric

[2022-07-24 07:27] dbit-xia commented on #708
Today, I tested with the container again and found that this problem only occurs when the request is made on the local network!

[2022-07-24 18:55] glintik commented on #421
Hi,

Any plans to implement support of hostnames? Using hostnames in docker compose files is an essential thing.

[2022-07-25 10:04] tippexs commented on #708
Hi @dbit-xia I will come back to you later. Also I will link the issue you have created in njs https://github.com/nginx/njs/issues/562 for visibility.

[2022-07-26 10:56] tippexs commented on #736
Hi @LearnitRm thanks for reporting this to us but as this is a bug tracker for NGINX Unit. Please reach out to the NGINX Mailinglist or the Community Slack to get support for NGINX. Information can be found here https://nginx.org/

[2022-07-26 10:56] #736 closed

[2022-07-26 14:56] #642 closed

[2022-07-27 08:15] Pavlusha311245 opened #739 "Multiple proxy doesn't work"
Unit version 1.27.0
[code]

I have configuration file like this. But I get problem with it. I tried to set paths to use proxy to any application.
Expecting:
:80 - laravel
:80/api - application 2
:80/test - wordpress

Result
<img width="1660" alt="Screenshot 2022-07-27 at 11 14 51 AM" src="https://user-images.githubusercontent.com/49598333/181197106-ab4ec5c8-962d-4c7b-8d0e-0ce79133a503.png">

<img

[2022-07-27 11:56] alejandro-colomar commented on #726
I applied a fix for a bug, that I think could fix your bug.  Could you test building unit from source and check if you still have the bug?

Thanks!

[2022-07-27 11:58] alejandro-colomar commented on #653
The fix for this bug was merged some time ago.  I forgot to close this issue.  Please reopen it if you still experience issues, but I guess not.

Thanks!

[2022-07-27 11:58] #653 closed

[2022-07-27 12:28] tippexs commented on #739
Hi @Pavlusha311245 thanks for reaching out.

As all of your applications are PHP-based, why did you not run all the applications on Unit and use the `application` object to route traffic to your applications.

Anyhow, please note that rewrites are currently not a thing in Unit. That means if you want to use location based routes for different applications, the application has to be aware of it.

W

[2022-07-27 14:48] andreivasiliu commented on #738
They are created automatically, based on `nxt_unit.h` from `unit-dev` (see [wrapper.h](https://github.com/andreivasiliu/unit-rs/blob/main/wrapper.h#L2)), and `bindgen` (see [build.rs](https://github.com/andreivasiliu/unit-rs/blob/main/build.rs#L30-L48)).

However, they are only used internally, since the generated bindings are very unsafe to use directly from Rust. The generated bindings use raw p

[2022-07-27 18:40] ashrafalzyoud commented on #726
@amg-web what the difference when using unit

[2022-07-28 04:28] hongzhidao commented on #501
Hi,

The feature of custom log format has been released. It will be in version 1.28.
In the future, we will consider supporting more rich features in the access log, such as multiple log format, JSON-type format, etc.

Welcome to suggest, And I'll close this issue.

[2022-07-28 04:28] #501 closed

[2022-07-28 08:34] Pavlusha311245 commented on #739
I can't use only PHP application, beacause other ones started on docker

[2022-07-28 11:13] tippexs commented on #739
Hi @Pavlusha311245 I have looked at your configuration and created a smal test on my side using the following configuration
[code]

The backend for port `8000` is a simple Python HTTP Server started with `python3 -m http.server 8000`. This configuration works for me and I can reach my Python backend issuing `curl localhost/test/`.

That said, the proxy configuration itself is correct. I assume the

[2022-07-28 13:42] tippexs commented on #738
Got your point with the bindings and sorry for missing it in my inital review of your repo. So the goal is clear:
Having a stable and reliable Rust wrapper around the C-API bindings. I will have a chat with the other engineers to answer the questions you have just posted and come back with answers asap!

[2022-07-29 05:34] Pavlusha311245 commented on #739
I will try

[2022-07-29 15:11] vt-alt opened #741 "Suggestion: Use GCC-12 with -fanalyzer for tests"
If you have CI please use gcc-12 with `-fanalyzer` option to find potential bugs. (Many major distro already have gcc-12).
For example, there are such warnings currently in 1.27.0:

[code]
[code]

[Last one if building with LTO (`-flto -ffat-lto-objects`), otherwise it's not detected.]

[2022-08-01 21:36] MagnusOxlund commented on #516
@tom-friedrichsen Try specifying a user in your configuration:

<pre>
{
    "listeners": {
        "*:80": {
            "pass": "applications/flask"
        }
    },

    "applications": {
        "flask": {
            "type": "python 3.9.7",
            "path": "/root/tmp/",
            "home": "/root/tmp/venv/",
            "module": "wsgi",
            "callable": "app",
            <b>"user"

[2022-08-02 06:16] tom-friedrichsen commented on #516
@MagnusOxlund : Thanks a lot for your reply, and pls accept my appology, that I did not answer to my question as soon as I was able to identify ma mistake. Shame on me, it was a stupid beginner mistake:

* I was logged in as root, as I did the whole configuration
* I stored the files in a /root/somesub folder
* I changed access of this somsub folder to unit:unit - but not the whole path starting f

[2022-08-02 06:23] lcrilly commented on #516
@MagnusOxlund thanks for being an active member of the Unit community! Please contact me and we'll send you some Unit swag: liam@nginx.com

[2022-08-02 07:09] MagnusOxlund commented on #516
@tom-friedrichsen No at all 🙂 Thank you for sharing the details, I'm sure that will be valuable to someone else. I'm glad you figured it out.

[2022-08-02 17:47] alejandro-colomar commented on #741
Hi!

I have a branch where I'm experimenting with adding it (BTW, the flag was added to GCC in version 10).

The problem is that there are so many warnings, that it would crash all the time.  So, I'll try fixing them one by one, and when we have a clean build, I'll add it to the default flags.

Cheers,

Alex

[2022-08-02 21:12] vt-alt commented on #741
Yes, but it's only stabilized and became more useful than experimental in gcc-12 so I would not recommend previous versions.

[2022-08-03 09:51] #737 closed

[2022-08-03 21:26] ac000 commented on #532
[Here](https://github.com/nginx/unit/pull/734)  is the start of a more complete cgroup support. It supports per-application (within unit) cgroups.

[2022-08-05 18:21] alejandro-colomar opened #742 "The $runstatedir is not being created at runtime"
See the following configuration.  I used a prefix of `/opt/local/unit` to make sure there were no previous existing directories or stuff that was left by a previous unit installation, and so that I can wipe it easily, but this could perfectly use system paths.

The issue is that the system is allowed (and will normally do so) to wipe `/run` (or `/var/run`) at [re]boot time.  Since we use various f

[2022-08-05 22:13] ArtruneTranspara opened #744 "Cant proxy to a path"
Can only proxy to a host, are there plans to proxy to a host and a path?

Docker image: nginx/unit:1.26.1-python3.9

[code]
Error:
[code]

[2022-08-06 02:57] ac000 commented on #742
The following patch seems to do the trick, but it's late and I may have missed something... (may be missing some error checking...)

[code]

[2022-08-06 03:20] alejandro-colomar commented on #742
$runstatedir is where the control socket lives.  It should be 755.

[2022-08-06 03:21] alejandro-colomar commented on #742
BTW, I'm didn't discern what this function does exactly.  I know it creates the control socket, but is it used for any other sockets?

[2022-08-06 03:29] ac000 commented on #742
[code]

Assuming that mkdir function follows mkdir(2) then mode is modified by the umask. We could stick an explicit chmod(2) in there,  but I'd say it's better to let the admin decide (via umask).

[2022-08-06 03:58] ac000 commented on #742
My brief testing (including UDS listener) shows my code only being called for the control socket.

[2022-08-06 07:21] lcrilly commented on #744
Hi Arturo, this use case is designed to be solved with https://github.com/nginx/unit/issues/732

[2022-08-06 13:17] alejandro-colomar commented on #742
That makes sense.  I prefer umask (please test the resulting directory permissions just to check, but LGTM).

[2022-08-06 13:19] alejandro-colomar commented on #742
Yeah, that's what my testing shows.  I'll assume there are no other hidden paths that jump to this one, unless someone proves otherwise.

[2022-08-06 13:20] alejandro-colomar commented on #742
BTW, the pid file also lives in that directory.  Does this fix that too?  I don't know in which order unit tries to create the socket and the pid file.

[2022-08-06 13:44] alejandro-colomar commented on #742
Why `nxt_strdup()` and not `nxt_str_dup()`?  With the latter, you don't need to free it.

Although, I don't know which memory pool we have available here, and its lifetime.  Freeing it immediately will make sure that we don't have an unnecessary string lying around for the whole lifetime of the program.

Now I'm curious about what happens if the socket path is a relative filename with no `/` (and

[2022-08-06 13:47] ac000 commented on #742
Ooh, I forgot about the pid file, good point.

While the pid file is created OK, we should perhaps not count on it and maybe the pid is being created some place else.

I wonder if we should do this for both the pid file and the control socket?

[2022-08-06 13:57] ac000 commented on #742
Probably because I wasn't really aware of it ;-)

So it's using a memory pool, OK, but we only really need that string temporarily, but it's not a lot of memory, so I'm not overly fussed...

Right.

I thought I'd better handle that case (have user ... ), I assume it will just try to create the socket in the processes current working directory.

[2022-08-06 15:13] ArtruneTranspara commented on #744
Is there an ETA for this or should I be using regular nginx in the meantime instead? @lcrilly

[2022-08-06 23:50] ac000 commented on #742
With a umask of _0022_

[code]
with a umask of _0002_
[code]

Or did you mean to use access(2) or some such in the code?

[2022-08-06 23:56] alejandro-colomar commented on #742
No, I think the code is fine as proposed in your patch.  I just wanted to make sure that the obvious expected behavior was indeed occuring, which it is.  So LGTM. :)

[2022-08-10 00:09] aehlke commented on #606
Pardon for the ping, but is there somewhere better to track progress on this, or any update on workarounds? Trying to build on my M1 for local dev. Hard to use for app stack otherwise. Thanks

[2022-08-15 07:48] alishir commented on #728
@tippexs I'm going to build the container with the latest unit version, but I could not find the commit that solved this issue in the commit history. Would you please mention the commit that solved this issue?

[2022-08-18 09:41] tippexs commented on #744
Hi @ArtruneTranspara sorry for the late response on this.

It is not scheduled for the next release, so I would advice you to use NGINX OSS for the rewrite in the mean time and will come back to you in this thread as soon as the feature is out for review.

[2022-08-18 17:01] ArtruneTranspara commented on #744
Hi @tippexs  thanks!

[2022-08-19 10:43] malsatin commented on #501
Hi,

I have looked through the patch and wondered if it is possible to add all http variables from the standard Nginx (i.e. like described [in Grafana tutorial](https://grafana.com/docs/grafana-cloud/data-configuration/integrations/integration-reference/integration-nginx/)) to achieve the feature parity for monitoring?

Right now I see there are these variables
- dollar
- method
- request_uri
- ur

[2022-08-19 10:56] hongzhidao commented on #501
Hi malsatin,

I'll share with your a separate patch next week if possible, thanks for your feedback.
Since we'll release version 1.28 soon, maybe in the next month, the feature will be 1.29 if possible.

[2022-08-19 10:58] hongzhidao commented on #501
Not sure about all HTTP variables like nginx. Unit is a different OSS with nginx, but we'll discuss it internally.

[2022-08-19 11:34] malsatin commented on #501
Thanks!
Presence of the `$request_time` would help a lot (just like an ability to write in JSON format, but this is a topic for another issue as I understand 😅).

[2022-08-20 09:52] Dawoodkhorsandi opened #748 "How to terminate Nginx unit container from application code."
Hey, I was wondering if there is a way to stop running the Nginx unit container from the application code.

In our scenario, we've some pre-conditions and the container should be down in case any conditions are not met.

[2022-08-22 08:04] tippexs commented on #748
Hi @Dawoodkhorsandi If I understand you correctly you would like to stop the container? In this case you should talk to the docker control socket.

But I would do this from outside the container using something like a health-check or something similar.

[2022-08-22 10:45] #669 closed

[2022-08-22 22:22] travisbell commented on #562
Hey @hongzhidao and @tippexs, I grabbed a copy of the repo (git ref `1c2f070ee226256a05ced1eaae08196a375a53b6`) and it looks like I'm still seeing a segfault:

[code]

Any chance you guys can take a look?

[2022-08-23 03:22] hongzhidao commented on #562
Yeap, it's strange that it doesn't work now, even though I changed to 1.25. I'm on it.

@travisbell @lluuaapp

@travisbell
Author
[travisbell](https://github.com/travisbell) commented [on 9 Oct 2021](https://github.com/nginx/unit/issues/562#issuecomment-938875250)
Yes, sorry about not replying earlier. Applying this patch seems to fix the issue. Thanks @hongzhidao.

Could you help test again? The

[2022-08-23 03:44] hongzhidao opened #749 "Variables: add request_time"
Hi,
Here's the patch of a new variable `$request_time`.
https://gist.github.com/hongzhidao/1a0feb755f0968d3bdd1ece67614523a
Welcome to test.

[2022-08-23 03:47] hongzhidao commented on #501
@malsatin
We have opened a new issue #749  to track `$request_time`.
And I've uploaded a patch mentioned in #749, welcome to test. Thanks!

[2022-08-23 07:56] tippexs commented on #562
From the logfile I can see they are using ruby version `3.1.2p20` . @travisbell do you have any special test application or can I test this with a simple ruby script printing hello world?

[2022-08-23 10:29] tippexs commented on #739
Any update on this @Pavlusha311245

[2022-08-23 22:40] travisbell commented on #562
I just did some more testing, if I leave `threads` to <= 1, everything is fine. As soon as I specify more than 1, boom, you get the segfault.

A simple reproducible example:

### Unit config

[code]
### config-test.ru

[code]

[2022-08-24 05:58] mm3906078 commented on #748
Hi guys
I have the same problem and don't think form outside container is good enough. Adding health checks in production requires another dependency to kill or restart the container. It's going to mess up our production env

[2022-08-24 11:28] tippexs commented on #562
Thanks for sharing the example. We are able to reproduce it and we are investigating the issue to find its root cause. We will come back to you as soon as possible.

[2022-08-24 14:33] travisbell commented on #562
Unfortunately, I probably didn't. I suspect I used an even more bare config than that.

Awesome, thanks!

[2022-08-24 15:37] hongzhidao commented on #562
@travisbell
We have various environments like Ruby 2.5, 2.7, Python 2+, 3+, etc. and they are for testing users' configuration.
But we have no test with `ctrl + c`, previously this patch only passed manual testing on my local Ruby 2.5 verion.

In short, the patch only works with Ruby 2.5, which has only one thread.

So there are still two issues for devs:
1. if threads > 1, boom.
2. with Ruby 2.7,

[2022-08-24 15:45] travisbell commented on #562
Awesome, good summary and happy that it's on your radar now. 😉

Yes! I've been watching Rack 3 evolve and already tried (and discovered) that Unit fails to work properly with Rack 3. Based on the activity I see on the repo, it's looking close to being released. It appears they've changed the way a few features work under the hood, and Unit will likely need to have an abstraction to deal with both

[2022-08-24 15:57] hongzhidao commented on #562
Here's a simple patch to work with Rack 3. But I didn't try it.
[code]

The main difference for unit between Rack 2 and 3 is the type of return value from `load_file()`.

Rack 2
[code]

Rack 3
[code]

[2022-08-24 15:58] ac000 commented on #562
I can get rid of the crash by doing in Unit

[code]

I have no idea what other consequences this change has.

[2022-08-24 16:01] hongzhidao commented on #562
@ac000
BTW, here's the difference between `_gvl()` and `_gvl2()`.
[code]
It's about how Ruby deals with signals. But I only know it by the document description.

[2022-08-24 16:08] hongzhidao commented on #562
Unfortunately, Ruby 2.5 doesn't work.

[2022-08-24 17:10] ac000 commented on #562
Perhaps my patch shows that there is something amiss in one or both of 'nxt_ruby_ubf' & 'unit_ctx'

[2022-08-24 17:11] ac000 commented on #562
I get a crash regardless if I set threads or not...

[2022-08-25 01:08] ac000 commented on #562
use other ways if you have.  We lack experiences to use this API.
        Please report your problem related on it.

Heh, so even the ruby developers don't know how to use it!

The reason RUBY_UBF_IO seemed to work for me, is because, without it, if I don't specify "threads", I get two threads and a crash on ^c, however with RUBY_UBF_IO, I only get a single thread (the app process itself) and no c

[2022-08-25 09:10] hongzhidao commented on #562
@ac000
Thanks for your catching!

There are two issues in the ruby module:

1. Possibly the wrong way to use `rb_thread_call_without_gvl()`, it seems we should use `rb_thread_call_without_gvl2()` with correct arguments like `RUBY_UBF_IO`.
The current way of using `nxt_ruby_ubf()` as a hook is for logging exit information. But it causes a crash in Ruby 2.7 or 3.0 (it doesn't in Ruby 2.5), we may ch

[2022-08-27 15:40] Pen-y-Fan commented on #604
I had problems getting Unit installed using WSL2, I did manage to get it working and documented it:

- [How to Install NGINX Unit on WSL 2 (Ubuntu)](https://pen-y-fan.github.io/2022/07/26/how-to-install-nginx-unit-on-wsl-2-ubuntu/)

I hope this will help others.

[2022-08-28 15:10] ac000 commented on #562
Unfortunately when using RUBY_UBF_IO I still get a crash.

At first I thought I didn't because I didn't have threads specified but was always getting two threads, when specifying RUBY_UBF_IO it doesn't create a thread to handle the nxt_ruby_ubf function, so I only had a single threaded process and the crash went away.

Perhaps, however I don't see the above being obviously involved in the crash. H

[2022-08-28 19:05] ac000 commented on #562
In the short term at least, the simplest way to stop the crashes on ^c is the below patch. It simply stops the ruby application processes from handling SIGINT. The main unit process will still handle it and cleanly shut everything down.

[code]

@travisbell if you are able to test the above patch against a current checkout of unit, hopefully it will stop the crashes (it does for me with ruby 3.1.2

[2022-08-29 11:25] jonnytest1 opened #750 "ip based server_name doesnt filter"
having an nginx conf like
[code]

will when 192.168.178.54:433 is used in the browser (local net obviously) still route to the some_dns page
🤔

[2022-08-29 11:28] #750 closed

[2022-08-29 11:29] jonnytest1 commented on #750
my bad i thought i did it the same as all the other servers but i accidentally put the port in the server_name 😅

[2022-08-29 18:01] lcrilly commented on #604
Thanks for sharing, @Pen-y-Fan - this is a great resource!

[2022-08-29 20:31] tippexs commented on #750
Hi @jonnytest1 thanks for reaching out but this is a bug tracker for NGINX Unit not for NIGNX the Webserver / Proxyserver. Glad it is working now for you.

[2022-08-30 07:24] robjr commented on #606
Facing the same issue here. It'd be great to have the images released for M1.

[2022-08-30 08:06] JanMikes commented on #606
Hi, what i am using on my M1 is:
[code]

[2022-08-30 10:26] tippexs commented on #606
Hi Folks! Thanks for reaching out. Currently the build of official packages is ongoing.

The build for dev on Mac is valid concern. I will put a detailed and scripted documentation till the packages are ready.
Timo

[2022-08-30 10:28] tippexs commented on #606
Thanks for this!!

[2022-08-30 16:14] ac000 commented on #562
@travisbell

Thanks for testing!

I did test that and it seems things are happening in the right order so that you are able to trap SIGINT in your app and it will override the ignoring of SIGINT by the ruby application process.

In other words, with the above patch I tested the below ruby script

[code]

and got the message.

[2022-08-30 17:27] travisbell commented on #562
Awesome, thanks for the extra check.

:shipit:

[2022-08-30 18:51] alejandro-colomar commented on #562
If you post is as a patch, feel free to add:

`Reviewed-by: Alejandro Colomar <alx.manpages@gmail.com>`

[2022-08-30 19:07] Pen-y-Fan opened #751 "Windows WSL2 compatible build"
I understand there is no windows native build #604

Would it be possible to update unit to make it compatible with WSL2?

I had problems getting Unit working using on WSL2, as systemd isn't installed. I did manage to get it working and documented it:

- [How to Install NGINX Unit on WSL 2 (Ubuntu)](https://pen-y-fan.github.io/2022/07/26/how-to-install-nginx-unit-on-wsl-2-ubuntu/)

I think there ar

[2022-08-30 22:12] alejandro-colomar commented on #751
We have a couple of patches to make `unitd` work without systemd (or any other init support).

<https://github.com/nginx/unit/pull/747>
<https://github.com/nginx/unit/pull/743>

The idea is that after those two patches are applied, one should be able to just `./configure && make && sudo make install && sudo unitd` and it should work out-of-the-box.

Just to be sure that you have no other issue, wh

[2022-08-31 07:43] Pen-y-Fan commented on #751
I expected to install unit and it would automatically run, or I could follow the documentation to start it `systemctl restart unit`, however, this doesn't work without systemd.

The workaround is to start to manually using: `sudo unitd --control unix:/var/run/control.unit.sock` which is undocumented.

Once unit was started it works 🎉, I could follow the remaining documentation and get the hello wo

[2022-08-31 09:59] alejandro-colomar commented on #751
The issue with option 1 is that systemd simply doesn't work in WSL2.  We should document the way to run it correctly in our docs, I agree.

[2022-08-31 10:21] alejandro-colomar commented on #751
Could you try `sudo unitd` without the flag, and see if it works?

[2022-08-31 12:31] Pen-y-Fan commented on #751
Good result 🎉

In wsl:

[code]

Opened my windows browser to <localhost:8000> and was treated to Hello world 😀

[2022-08-31 12:33] alejandro-colomar commented on #751
Great.  I suspect this works with the Ubuntu package, but won't work with other packages (maybe CentOS or others), due to a different default path for the control socket.  But good that it works for you!

[2022-09-01 11:23] #562 closed

[2022-09-02 10:11] #744 closed

[2022-09-03 13:53] mwoodpatrick opened #752 "Problem building rpm package in Fedora 38 container running on WSL-2"
With TOT github repo running in podman Fedora 38 container I'm trying to build the rpm package and getting

cd /projects/git/mwoodpatrick/unit/pkg/
make rpm 2>&1 | tee build_rpm.log

build/src/nxt_unit.o build/src/python/nxt_python-python3.10.o build/src/python/nxt_python_asgi-python3.10.o build/src/python/nxt_python_asgi_http-python3.10.o build/src/python/nxt_python_asgi_lifespan-python3.10.o bui

[2022-09-03 16:51] ac000 commented on #752
A couple of things stand out

- Fedora 38. I'm not sure what that's based on (rawhide snapshot?) as it's not due for release until April next year.
- The python version is actually older than that in Fedora 36 (latest release), 3.10.5 vs 3.10.6. Also it doesn't look like the system installed version and the use of a static library (libpython3.10.a) looks unusual (certainly the Fedora python-devel

[2022-09-04 15:56] mwoodpatrick commented on #752
Many thanks for the reply much appreciated. This does work with Fedora 36 and I was able to run the PHP example I hit an error running the node example. I got the following in the log any idea what I'm doing wrong or best way to debug

2022/09/04 15:52:03 [info] 62808#62808 "express" prototype started
2022/09/04 15:52:03 [info] 62809#62809 "express" application started
node:internal/modules/cjs/lo

[2022-09-05 10:30] hongzhidao commented on #427
Hi,
We just committed the statistics patch, and it'll be in the 1.28 version.
Welcome more suggestions on statistics, thanks.

[2022-09-07 15:18] lcrilly commented on #752
`unit-http/loader.js` overrides the standard Node.JS loader so that Unit can pass requests to it without requiring modifications to the Node.JS application. So we need to run `npm link unit-http` for each Node.JS app, in the app's directory.

As it looks like you're using Express, the how-to guide might help:
https://unit.nginx.org/howto/express/#express

[2022-09-08 17:46] ac000 commented on #381
For IPv6 we can use ```IP6T_SO_ORIGINAL_DST```.

[2022-09-10 18:58] mwoodpatrick opened #753 "Getting error 503 when trying to access php app"
I'm getting a 503 error when trying to access a php app I don't see any issues reported in the unit log file  and the php module is enabled. Is there any logging I can enable to see why I'm getting the error, any pointers as to what's causing the issue or best way to debug would be appreciated

curl http://localhost/example_php
<!DOCTYPE html><title>Error 503</title><p>Error 503.
config from unit

[2022-09-11 14:10] mwoodpatrick commented on #752
I fixed that but am now getting an error:

[code]

The only thing I see in the log file was a warning:

`(node:1731) ExperimentalWarning: Custom ESM Loaders is an experimental feature. This feature could change at any time`

I do see a node process running:

node --trace-warnings --loader unit-http/loader.mjs --require unit-http/loader `app.js`

It would really help to have more diagnostic error m

[2022-09-12 05:19] tippexs commented on #753
Good Morning @mwoodpatrick . This looks like a problem within your PHP code. As you can see from the logs the PHP application started successfully.

A quick thing that is unlikely the problem but can you please change your static file share configuration form `/projects/www/$uri` to `/projects/www$uri`.

https://unit.nginx.org/configuration/#handling-actions

According to our documentation, the $u

[2022-09-12 17:07] travisbell opened #755 "Ruby: Unit Rack 3 compatibility"
Hey guys, I know @hongzhidao is aware of this (it was discussed on #562 [here](https://github.com/nginx/unit/issues/562#issuecomment-1225919235)) but I just thought I'd drop a new issue to mention that Rack 3 has now been released and it is not compatible with Unit.

It would be great to see Unit work with v3.

Thanks!

[2022-09-13 07:51] tippexs commented on #755
@travisbell thanks for this. Do you have any example app you want to share?
If not we can simply adapt the one we have with the use of `gem 'rack', '~> 3.0'`

[2022-09-13 14:08] travisbell commented on #755
Hey @tippexs, indeed simply requiring 3.0 will prevent Unit from starting, so that's all you need to do.

[2022-09-13 22:11] ac000 commented on #753
Needing to terminate the URL with a '/' seems to be intended, from the docs...

[code]

[2022-09-14 00:58] mwoodpatrick commented on #753
Thanks for the info, much aqppreciated. It would be helpful if the log had something clearer than just error 503, this seems rather obscure

[2022-09-14 13:21] lone-cat commented on #728
same issue in 1.28 with php 7.4 (docker, build from https://github.com/nginx/unit/tree/master/pkg/docker/Dockerfile.php8.1, but php version of source image changed to 7.4), and default docker images (all from nginx/unit:1.26.1-php8.1 to nginx/unit:1.28.0-php8.1) when "processes" count in unit configuration for php application is greater then 1 (for example 8). I have to mention that this problem m

[2022-09-15 07:59] tippexs commented on #728
@lone-cat let me share the updated docker-entrypoint.sh with you in a minute. Happy for you to test.
Sorry the script changes did not get merged. Sorry for still having trouble with it.

Will be sharing the Script update for testing in a couple of hours.

[2022-09-15 10:13] tippexs commented on #755
Link to the interim fix https://github.com/nginx/unit/issues/562#issuecomment-1225919235

[2022-09-15 12:04] #427 closed

[2022-09-15 12:06] tippexs commented on #748
Sorry for my late response. I am still not sure if I understand you correctly. Can you try to describe a use case including some examples what do you need from Unit to make it work?

[2022-09-15 15:01] ac000 commented on #755
So the [patch](https://github.com/nginx/unit/issues/562#issuecomment-1225919235) from @hongzhidao does indeed make things work with both rack < 3.0 **and** rack 3.0

Here's basically the same patch that applies cleanly with git-apply(1) to current unit.

[code]

[2022-09-15 16:24] tippexs commented on #718
Hi @CooperTrooper21 sorry for the late replay on this.

Can you test this fix in the `docker-entrypoint.sh` script?

[code]

Please clone the script for our github repo apply the fix and create a new Dockerimage copying the new file back into your image

[code]

We are just about updating the official Docker-Images.

[2022-09-15 16:27] tippexs commented on #728
@lone-cat the fix is ready for you to test

Can you test this fix in the `docker-entrypoint.sh` script?

[code]

Please clone the script for our github repo, apply the fix and create a new Docker-Image copying the new file back into your image.

Make sure you make the script executable before copying it in the container.

[code]

We are just about updating the official Docker-Images if this fix wi

[2022-09-15 16:31] tippexs commented on #570
The temp. fix is available and you are happy to test it. The official docker images will be updated accordingly.

https://gist.github.com/tippexs/125658d0c90b03f8fc5deac19a6322eb

Please clone the gist and replace the `docker-entrypoint.sh` script with this one. Let me know if this is working.

[2022-09-15 22:19] lone-cat commented on #728
@tippexs Thank you for this workaround, it works just as it can be expected from shell script - if reconfiguration "hangs" it prints "Waiting for control socket to be removed..." for 4 times and then unit gets killed and starts again normally. Tested on my build v1.28 with php 7.4, but i bet it will work in all other versions. This solution covers all my needs for now - i use only static preconfig

[2022-09-16 01:05] ac000 commented on #753
@mwoodpatrick Here's a patch against current unit that allows to skip the trailing '/' on PHP URLs that are directories, if you'd like to give it a spin...

[code]

[2022-09-16 10:49] tippexs commented on #728
Hi @lone-cat - Thanks for testing the fix! Appreciate it!

No - This is a "docker initial start issue" only and will not apply if you reconfigure Unit using the API.

The main issue is not due to the `SIGTERM`. The handling of such signals are just working fine on a VM. Even in Docker this issue happens just under some special circumstances. I will move the fix into mainline and will let you all k

[2022-09-16 11:06] lone-cat commented on #728
@tippexs  ok, got it =) thanks for explanation.

[2022-09-16 17:12] tippexs commented on #752
First please keep in mind packaging the Unit Node HTTP module is possible but need to be handled quite carefully. While building the module using `node-gyp` we are tuning it depending on the current underlaying OS.

So, keep this in mind while packaging the module.

The “Error / Warning” is because we are making use of the ESM load to override the build in HTTP interface of express with the Unit o

[2022-09-16 17:15] tippexs commented on #751
@Pen-y-Fan thanks again for sharing this and yes for us the way to start Unit without using `systemd` is our daily business but for others it is quite complicated to figure it out.

I will rename this issue and tag it as a lack of documentation on our website. We will add this section to https://unit.nginx.org/installation/#startup-and-shutdown

so it become more clear what to do on systems withou

[2022-09-16 17:30] tippexs commented on #726
Fixed with 1.28

[2022-09-16 17:30] #726 closed

[2022-09-16 17:31] #739 closed

[2022-09-16 17:35] tippexs commented on #730
@amg-web Sorry for my late response. The approach is not totally down to Unit as Unit need the corresponding Ruby version on your system to make the Module work. As said you can use something like `rvm` to install the ruby versions you need and build the language modules as described in our documentation.

https://unit.nginx.org/howto/source/#modules-ruby

We are working on a documentation about „

[2022-09-16 17:42] tippexs commented on #753
@ac000 linking for visibility. https://github.com/nginx/unit/issues/717 .Looks like the same root cause.

[2022-09-16 17:47] #617 closed

[2022-09-18 08:03] lcrilly commented on #577
+1 to VBart's comments. Putting a network dependency on the initial configuration looks like a recipe for complexity and unpredictable behaviour. Especially when an effective workaround is to use curl/wget to populate the `--state` directory _before_ the daemon is started.

Closing as not planned.

[2022-09-18 08:03] #577 closed

[2022-09-20 10:04] tippexs commented on #417
Hi @smtalk I know it is a while since the last update of this issue but a quick question from my side. Would it be possible for you to run an application in any language we support on Unit doing the filtering for you? We are working on this style of features adding to Unit in a more "plug-iny" way. Let me know your thoughts.

[2022-09-20 14:06] MartinKosicky opened #757 "OCSP might optionally dont check signature"
We have a setting where nginx is in our internal network, but we want some further validation of a client certificate via OCSP. W have many persistent connections (around 700K) and made a custom ocsp server implementation for additional ocsp validation of client certificates. The thing is that because the responses have to be signed, it's eating quite a lot of CPU, and we trust our internal infras

[2022-09-20 17:46] lcrilly commented on #757
Hello. This is the issue tracker for [NGINX Unit](https://unit.nginx.org/) but your question seems related to [`ssl_ocsp`](http://nginx.org/r/ssl_ocsp) in NGINX. Please direct this to the other channels https://nginx.org/en/support.html or nginxcommunity Slack.

[2022-09-21 11:35] ac000 commented on #488
So, if I'm reading the above correctly, this issue was caused by container resource limits being hit?

[2022-09-21 16:40] ac000 commented on #650
So, there are two checks here in src/nxt_php_sapi.c::nxt_php_set_target() (and this only applies to the 'script' option and not 'index')

1) Does the full path to the script exist?
2) Is the script located under the 'root'?

Seeing as these checks are only done at start up and I would say are not really security related (if you want to confine the app we have better mechanisms in 'rootfs' etc), I

[2022-09-22 14:19] lcrilly commented on #468
This will be addressed by https://github.com/nginx/unit/issues/732

[2022-09-22 14:19] #468 closed

[2022-09-23 05:03] hongzhidao commented on #753
@ac000
With the patch, requests that don't end with `/` will have to add one more syscall `stat(...)`. And most requests are like this.

[2022-09-23 06:23] tippexs opened #758 "Router: Log router steps needed to find right action step"
It would be very helpful to log the steps the Unit router takes to find the correct route for an incoming request to the `unit.log`.

The idea behind this is similar to the idea of NGINX creating rewrite logs. http://nginx.org/en/docs/http/ngx_http_rewrite_module.html#rewrite_log

This issue is open for discussions and other ideas. The final output could be similar to the NGINX log output.

[2022-09-23 06:30] tippexs opened #759 "API: Route-Execution Info Endpoint"
Currently it could be hard to find out what `routes` matches given request meta data like `uri`, `hostname`, other HTTP headers, etc.

An API endpoint able to match a request including such values and response with the configuration path to the control endpoint to update the route would be huge benefit.

This issue is in subject to change and will be a working document to document ideas and commen

[2022-09-23 14:34] kkzetAM commented on #728
Yeap, I have still this issue with nginx unit 1.28 and python 3.10. Should I change script docker-entrypoint.sh?

[2022-09-24 05:07] #757 closed

[2022-09-26 05:44] hongzhidao opened #760 "Statistics: negative number of active connections when using proxy."
Thanks for Tobias's report.
With the configuration, it caused wrong connection statistics.

[code]
[code]

And here's the patch to fix it, welcome to test.
https://gist.github.com/hongzhidao/51fbc5169f22bd725d99446eca47e346

[2022-09-26 06:17] tobiasge commented on #760
I tested the patch with a minimal configuration:
[code]
and have the following statistics:
[code]

Active connections isn't negative anymore. Thanks for the quick help.

[2022-09-27 09:11] hongzhidao commented on #760
Hi @tobiasge

The fix patch has been committed, thanks again.
https://github.com/nginx/unit/commit/0711101af826cf7f5cb25050587ac6788ac0451c

[2022-09-27 15:37] ac000 opened #761 "SERVER_PORT is hard coded to "80" in numerous language modules"
This is set in src/nxt_php_sapi.c

[code]

Once the patch from https://github.com/nginx/unit/issues/753#issuecomment-1258842715 is committed we will be able to use the _local_port_ member of the _nxt_unit_request_t_ structure.

Despite the warming in the PHP [reference guide](https://www.php.net/manual/en/reserved.variables.server.php) we should probably at least try and get it right.

[2022-09-29 03:25] 0x34d opened #762 "Oss-fuzz remander"
Hello everyone. 
This is a reminder for oss-fuzz unit integration. 
I'd like to hear your thoughts on [oss-fuzz PR](https://github.com/google/oss-fuzz/pull/8511). 
I would say that the Nginx/Unit tests are the hardest test suite I have seen in unit tests. 
Will you check both harness validations? 
so they don't produce false positives.

[2022-09-29 12:33] andrey-zelenkov commented on #762
Hi @0x34d! I will take a look at this PR next week if you don't mind. Thank you!

[2022-09-29 15:29] g105b commented on #650
It's common to have a router script outside of the public web root. In fact, a lot of people recommend storing the PHP source files outside of the public web root, for security reasons.

This is a typical PHP setup:

[code]

In Nginx, I'd use the following server block to set up PHP:

[code]

However I don't think there's something compatible with this behaviour in Nginx Unit, so I am having to cr

[2022-09-29 17:30] ac000 commented on #650
@rbro You could try this patch

[code]

@g105b To support a script with an absolute path would take a little re-factoring of code...

[2022-09-30 06:55] pranay-01 opened #763 "Websockets Support through WSGI"
Currently , Websockets is supported only on ASGI , a new implementation can be added to support through WSGI

[2022-09-30 08:58] artemkonev commented on #218
https://unit.nginx.org/howto/source/#source-config-src-state
https://unit.nginx.org/configuration/#conf-replication

[2022-09-30 08:58] #218 closed

[2022-09-30 08:59] artemkonev commented on #612
https://unit.nginx.org/configuration/#instant-responses-redirects

[2022-09-30 08:59] #612 closed

[2022-09-30 09:35] g105b commented on #650
I wish I could help but my C skills are very dusty. The reason I'm reporting this is because I thought it was important to note that my applications that currently run in Nginx are not compatible with Nginx Unit, due to the decision of having no executable scripts within the web root.

[2022-09-30 14:23] lcrilly opened #764 "Chained route actions for a request processing pipeline"
**Action chaining** enables a [route action](https://unit.nginx.org/configuration/#handling-actions) to be configured as an array of action objects.

[code]

The client request is passed in sequence to every action in the array provided a `2xx` response is returned from each action. Any non-`2xx` responses are returned to the client.

The initial implementation will support a variety of authentica

[2022-10-01 18:30] mwoodpatrick commented on #758
One thing I was missing was the trailing "/*" in the URI
[code]

Without it the access appears to be silently ignored with it the access is attempted and an error message describing the issue is reported

[2022-10-02 01:41] harishinka opened #765 "How to install the rtmp on mac os monterey"
Hi team,
I wanted to install nginx with rtmp and run on mac os monterey M1. Can you please guide with the command. The old commands:
brew tap homebrew/nginx
brew install nginx-full --with-rtmp-module

does not work

[2022-10-03 02:07] hosseinfani opened #766 "DirectAdmin Nginx Unit for Python Applications"
Hi there,
I'm using nginx unit available in the "Advanced Feature" panel in DirectAdmin.

I created zzzz folder to host my python app inside the public_html folder like

/home/xxxx/domains/yyyy/public_html/zzzz/

and put the following sample python code and I make it readable and executable:

[code]

I created an application:
![image](https://user-images.githubusercontent.com/8619934/193489351-f0e

[2022-10-03 08:44] tippexs commented on #766
As the AdminPanel itself is not our software I can not say how they did implement Unit under the hood. I have found this link.

https://tickets.directadmin.com/new_ticket.php

This should work for you. Let me know if you need any more help.

[2022-10-04 00:34] akalineskou commented on #594
in nginx we do it like this
[code]

This feature is a must since it does flood the access logs

[2022-10-04 11:15] lcrilly commented on #765
Hello. This is the issue tracker for NGINX Unit but your question seems related to rtmp in NGINX. Please direct this issue to the channels listed at https://nginx.org/en/support.html or to the [nginxcommunity Slack](https://community.nginx.org/joinslack).

Also note that "does not work" combined with detailed error information is more likely to produce helpful responses.

[2022-10-04 18:50] ac000 commented on #755
This has been fixed by dc9f592d6e7123d57924146dcbf1be80366bc98b

Thanks everyone!

[2022-10-04 18:50] #755 closed

[2022-10-05 10:56] ac000 opened #767 "PHP: Better error handling (403, 404 etc)"
Currently the unit php module returns either a 500 'Internal Service Error' or 503 'Service Unavailable' in various scenarios.

E.g trying to access a directory that doesn't exist (or doesn't allow access)

[code]

This also allows us to fix one of the tests (test_php_application_targets() in test/test_php_targets.py)

[code]

We now return a 404 as expected.

[2022-10-06 14:36] CooperTrooper21 commented on #718
Thank you both for the help so far! :) @tippexs @thresheek

I have created a dummy app to use as a reference for this issue. This will all be containerised and I will share the files.

Goal:
When the app starts, I want to request `https://www.google.com` every _n_ amount of times every second.

Expected:
When configuration is applied, the app will start. Here the process should be stopped immediat

[2022-10-09 11:44] lolgab opened #768 "PUT should create parent objects in config when they don't exist"
Imagine I have an empty configuration like:
[code]

I now want to add an application like:
[code]
But what I get is:
[code]
Because there is no `applications` container.
If I create the applications container it works fine:
[code]
[code]

The problem is that I don't want to mess with other applications that could be currently installed in Unit, I just want to add a new one.
What I propose as a dif

[2022-10-10 03:02] #762 closed

[2022-10-11 09:08] lcrilly commented on #768
Thanks for sharing your use case!

There is some inconsistency here, as `"listeners"` and `"routes"` *can* be created in this way (provided an empty parent object is created first). Will investigate if there is a reason for `"applications"` to be treated differently.

[2022-10-11 09:24] lcrilly commented on #768
Thanks for sharing your use case!

This behaviour is consistent for all "top level" objects. The workaround is to create an empty `"applications": {}` object when "value does not exist". Then child objects can be created by name on the URI.

[2022-10-11 12:28] alejandro-colomar opened #769 "'make install"

[2022-10-11 12:35] alejandro-colomar commented on #769
The solution, IMO, would be to run `mkdir -p` instead, which will not modify existing directories, and will create new ones with reasonable defaults.

[2022-10-11 12:57] alejandro-colomar commented on #769
Maybe a better solution would be to test for existence, and if it doesn't exist, run `install -d`, with which we can select the mode.  This is especially important for `NXT_TMP`, which we should make sure it exists (will add a separate patch for it).

[2022-10-11 14:22] alejandro-colomar commented on #742
Fixed by [57fc920](https://github.com/nginx/unit/commit/57fc9201cb91e3d8901a64e3daaaf31684ee5bf5)

[2022-10-12 13:09] mwoodpatrick opened #770 "PHP & WordPress Duplicator issue"
I have a WordPress website backup created using [Duplicator](https://wordpress.org/plugins/duplicator/) which I'm trying to install and run under unit. I can access and run the installer script installer.php it does unzip the contents of the archive and in its log reports:
[Oct 8 13:42:38] DONE: No detected errors so redirecting to the main installer. Main Installer URI = http://localhost:8082/wp/

[2022-10-13 08:45] hongzhidao commented on #749
Hi,

it's committed.
https://github.com/nginx/unit/commit/7aa6b0629897235684961dfb9aa16e226efa27e6

[2022-10-13 08:45] #749 closed

[2022-10-13 08:47] hongzhidao commented on #501
Hi,
The patch of the $request_time variables is committed.
https://github.com/nginx/unit/commit/7aa6b0629897235684961dfb9aa16e226efa27e6

Thanks again.

[2022-10-13 10:28] SlingShot44 opened #772 "WebSocket mistaken for HTTP because of Connection header"
Hello there!
I am currently developing an application, that uses WebSockets. Therefor, I use Django Channels together with Unit. On the developement server (daphne) everything works fine, but on the production server Firefox won't establish the WebSocket connection.

The problem is, Channels routes the request to HTTP because Unit passes the asgi app scope[“type”] = "http”, receive = <built-in met

[2022-10-14 20:37] ac000 commented on #650
@g105b You could try giving this somewhat simple patch a spin. It simply lets you specify the "script" as an absolute path.

[code]

Happy to hear any feedback, good or bad...

[2022-10-14 22:29] g105b commented on #650
Will give it a go next week, thanks! :)

[2022-10-19 14:58] sevdog opened #773 "Add response header variables"
As of now Unit uses only **request**'s headers for variables. However it could be useful to be able use **response**'s headers.

Example: I want to log the user which performed a request using an `X-Username` header which is set by my application.

Using nginx this is easy using the `$sent_http_x_username`, it would be nice to have something similar also in unit. Since some information could only

[2022-10-20 07:55] teodorescuserban commented on #408
Hopefully soon. Thank you!

[2022-10-20 14:39] PetrDlouhy opened #774 "Deployment on Heroku: add options to handle SIGTERM"
I am using Nginx on Heroku in Docker container along with Gunicorn/Supervisor.

When Heroku scales down it first sends SIGTERM to all processes in the container and after 30 seconds it sends SIGKILL. I don't think, that I can change this behavior.

After receiving SIGTERM Nginx terminates ungracefully not waiting for running requests.

I wonder if the possibility to terminate gracefully on SIGTERM

[2022-10-20 14:42] PetrDlouhy commented on #774
I found temporary workaround by compiling Nginx from sources and patching them:
[code]

[2022-10-20 16:53] lcrilly commented on #774
Hello. This is the issue tracker for [NGINX Unit](https://unit.nginx.org/) but your question seems related to [nginx](http://nginx.org/en/). Please direct this issue to the channels listed at https://nginx.org/en/support.html or to the [nginxcommunity Slack](https://community.nginx.org/joinslack).

[2022-10-20 16:53] #774 closed

[2022-10-22 03:29] hongzhidao commented on #773
Hi @sevdog,

It makes sense to add variables related to response headers. But currently, we are busy with the 1.29 version.
If the feature isn't ready for 1.29, we'll add it to the 1.30 version.
BTW, I think I can send your a patch if it's ready. Thanks for your suggestion.

[2022-10-24 23:21] alejandro-colomar commented on #160
Ping.

Hello,
Are you interested in this feature?  I'll close the PR, since the design was rejected.  However, feel free to open a new one redesigned with the things talked in this issue.

Cheers,

Alex

[2022-10-25 09:47] leiserfg commented on #710
Python 3.11 is out, any update on this?

[2022-10-25 12:25] xxyyboy opened #776 "NOT support PHP5.2.*"
lots  of errors：

src/nxt_php_sapi.c:174:5: error: initialization discards ‘const’ qualifier from pointer target type [-Werror]
     nxt_php_ext_functions,       /* function table */
     ^
src/nxt_php_sapi.c: In function ‘zif_fastcgi_finish_request’:
src/nxt_php_sapi.c:222:5: error: implicit declaration of function ‘zend_parse_parameters_none’ [-Werror=implicit-function-declaration]
     if (nxt_

[2022-10-25 14:02] alejandro-colomar commented on #776
Hi!

PHP 5.2 has been unsupported since 2011.  Why is it that you need that version?  Could you please share some info about the platform/OS?

Is upgrading to a newer 5.x version or to 7.0 a possibility?

Thanks!

@remicollet  you might be interested in this.  I don't even see 5.6, which was EOL in 2018. being supported anymore by distros (for example, Debian oldoldstable has PHP 7.0).  I understa

[2022-10-25 14:27] remicollet commented on #776
* RHEL 7 have 5.4 (supported until June 2024)
* RHEL 8 have 7.4
* RHEL 9 have 8.0

[2022-10-25 14:28] ac000 commented on #776
CentOS 7 (and I assume RHEL 7) has 5.4 which Unit builds OK against.

[2022-10-25 14:33] alejandro-colomar commented on #776
Thanks!  So we need to support PHP 5.4.  5.2 seems to be out of luck, unless there's some supported system out there that has it.

[2022-10-25 18:11] tippexs commented on #776
@xxyyboy as mentioned above. 5.4 should work for you but 5.2 is out of support. Are you able to move your application to 5.4? That would work. Will close this issue.

[2022-10-25 18:11] #776 closed

[2022-10-25 19:26] tippexs commented on #772
Thanks for reporting this issue to us. We will investigate the issue and come back to you. Do you have a demo application covering this issue? Looks like you already done a lot of testing and this would help us to investigate.

Also what Python and Unit Version are you using?

[2022-10-25 19:38] tippexs commented on #770
Hi @mwoodpatrick So you are saying  you can not click / open the link? What is your Unit configuration?

[2022-10-26 10:43] teodorescuserban commented on #408
@mar0x, I tried to find out what exactly means "Currently Unit tries only to stop applications gracefully" to make sure I change the application so it will actually stop. This would be great to have until you guys are able to implement the kill.

Thanks!

[2022-10-26 13:18] SlingShot44 commented on #772
Hello @tippexs,
thanks for your reply. Because I cannot share my production code, I tinkered a small demo app. There I could reproduce the error. You can find it under https://github.com/SlingShot44/Demo. In both environments I use Python 3.9.2 (But in demo I use fewer libraries and the new Channels 4.0.0 version). I am afraid, I don't know the Unit version of the production setup and I can't look

[2022-10-27 02:16] jd1378 opened #777 "add alpine image variant ?"
hi
Can we have an alpine image of unit as well ?

[2022-10-27 11:25] #575 closed

[2022-10-27 11:25] thresheek commented on #281
Closing due to a feedback timeout.

[2022-10-27 11:25] #281 closed

[2022-10-28 05:13] xxyyboy commented on #776
@tippexs Thank you guys，Cause our company still has many old PHP projects running online for our customers. maybe over 2000 projects.
I successfully compiled version 5.3.29，still trying to test all function

[2022-10-28 05:14] xxyyboy commented on #776
There also are many new PHP projects.  we use 7.1.3.

[2022-10-31 07:22] tippexs commented on #777
Would a Dockerfile be helpful for you so you could run the docker build by yourself?

[2022-10-31 07:23] tippexs commented on #772
Wonderful! Thanks for sharing. I will have a look and let you know.

[2022-10-31 14:30] tippexs commented on #777
Thank you very much for the link! I will have a look on it and will let you know my thoughts about this.

[2022-10-31 23:34] jkugler opened #778 "No Python 3.8/3.9 packages for RHEL/CentOS 8"
RHEL 8.x allows you to install python36, python38, and python39 packages, out of the box, vendor supported. However, there is only Python 3.6 here https://packages.nginx.org/unit/centos/8/x86_64/RPMS/ and here: https://packages.nginx.org/unit/rhel/8Server/x86_64/RPMS/

Could we get Python 3.8 and Python 3.9 RPMs for RHEL/CentOS as well?

On a RockyLinux docker container:
[code]

Instructions for R

[2022-10-31 23:34] jkugler commented on #500
As noted here, there are python38 and python39 packages on RHEL 8.x, vendor supported, out of the box: https://github.com/nginx/unit/issues/778

[2022-11-01 04:21] thresheek commented on #778
Hi @jkugler ! Thank you for opening this issue.

RockyLinux is a bit different repo-wise to RHEL, I'm going to check if it's possible to install multiple versions of Python (and its development libraries, which we need to build packages against) on it.

[2022-11-01 07:45] thresheek commented on #778
Indeed it seems possible. I've posted a patch addressing this for an internal review.

[2022-11-01 17:07] jkugler commented on #778
Thanks! Yeah, I first became aware of the ability at the blog post https://blog.hqcodeshop.fi/archives/510-Python-3.9-in-RedHat-Enterprise-Linux-8.4.html which details the steps for RHEL 8.x. I tried it on RockyLinux because that is all I have access to. Thanks for addressing this so quickly! I look forward to seeing the package as our application is ready to go for Python 3.9.

[2022-11-01 21:21] JanMikes opened #779 "Unable to proxy to docker container - invalid configuration (invalid is address)"
Hi, referred to the documentation https://unit.nginx.org/configuration/#proxying, i should be able to proxy request to any valid hostname, but dont know how to do it for docker container, defined and run in the same docker-compose file.

What im trying to do is to proxy all http requests from `localhost:8080/.well-known/mercure` to the `mercure` service, but i get 400 response from unit when runni

[2022-11-01 21:46] tippexs commented on #779
@JanMikes we are currently working on this. At the moment we do not support any DNS or name bases addresses they need to be resolved. Only IPv4/6 and Unix domain sockets are valid inputs. Will flag this as bug and let you know as soon as a fix will be out.

[2022-11-02 12:04] xxyyboy opened #780 "performance optimization..."
the souce file is a  complex php file, the performance is very low in the same environment, worst than php-fpm.
Complex php environment description: including database access, wirte log...

php-fpm：80-90qps
nginx or nginx+unit：10-30qps
Requests per second:    10.97 [#/sec] (mean)

php Swoole is about 500-1000 qps, mybe we can optimize php io function...
I am looking forward to hearing from you soo

[2022-11-02 12:11] JanMikes commented on #779
Thank you for such fast reply, i will be looking forward.

I can confirm that proxying to static IP works fine.

[2022-11-02 15:06] ac000 commented on #717
The fix for has been merged. [a032744](https://github.com/nginx/unit/commit/a03274456b54cbc39e220b9dd73c3fc3fb935e46)

[2022-11-02 15:06] #717 closed, assigned to ac000

[2022-11-02 15:08] ac000 commented on #753
The fix for this has been merged. [a032744](https://github.com/nginx/unit/commit/a03274456b54cbc39e220b9dd73c3fc3fb935e46)

[2022-11-02 22:09] dward opened #781 "PHP - script filename may incorrectly contain query parameters"
If a query string contains something that looks like a pathinfo string, nginx unit will incorrectly attempt to load the wrong php file.

The issue is triggered when the string ".php" followed by a "/" is found in the query string.
Example: http://foo.bar/test.php?blah=test.php/foo

The following is a test case that triggers the issue in master.  As far as I can tell, this bug exists back to at lea

[2022-11-02 22:31] tippexs commented on #781
Yes was able to reproduce. This is indeed a bug! Thanks for reporting this to us. @ac000 will check in with you on slack about it.

[2022-11-03 01:18] ac000 commented on #781
Hi @dward

Care to give this patch a quick spin?

[code]

[2022-11-03 02:22] #780 closed

[2022-11-03 02:22] xxyyboy commented on #780
close

[2022-11-03 02:26] dward commented on #781
@ac000 - That fixes it.

Thanks for the super fast fix!

[2022-11-03 02:44] ac000 commented on #781
Great, thanks for testing!

[2022-11-03 02:54] ac000 commented on #781
@dward

Can I incorporate your test case into our test suite?

[2022-11-03 03:11] dward commented on #781
@ac000
feel free! thanks

[2022-11-03 09:52] xxyyboy opened #782 "PHP performance"
Poor performance in a complex PHP file.
PHP-fpm: 80qps
Nginx +unit or Unit：60

A simple PHP file, unit is more quickly than php-fpm, but a complex PHP file is more worse than php-fpm.
A complex PHP: include socket, write file many requried php file,json transfer, db,redis,report ...

Maybe we need to replace more native I/O functions of PHP, using coroutine.

here is a project [php-coroutine-engin

[2022-11-03 10:36] tippexs commented on #782
Thanks for reaching out. Do you have any more information? How did you measured the performance? What system? What PHP Script? Creating performance metrics it not simple and therefor not simple for us to reproduce without any more detailed information.

[2022-11-04 03:02] xxyyboy commented on #782
Thanks for your replay，

CentOS Linux release 7.2 (Final)，
cpu:8 core , mem: 16GB,
gcc-4.8.5, php7.1.3 with some extension, unit1.28.0

start nginx on port *.80.
start fpm on port 127.0.0.1:9000
start unit on port 127.0.0.1:8300.

Pressure tool：apche ab

example:
./ab -n1000 -x100 -X127.0.0.1:80 'http://127.0.0.1:80/pxxju/v3/xpb/xxt/xnxhxr/xnxhxr_xxmmxn.php?_sxrvbxx=xms.xxt.xnxhxr&_jsvxr=xRxsult&b

[2022-11-04 07:02] xxyyboy commented on #782
![image](https://user-images.githubusercontent.com/19920120/199911613-8d859f82-dc67-4222-a6e0-f0ae8bbe1efc.png)

[2022-11-04 07:03] xxyyboy commented on #782
I found Fibers or Coroutines for asynchronous programming in PHP 8.1
https://github.com/amphp/ext-fiber

[2022-11-04 11:40] thresheek commented on #778
Support added in https://github.com/nginx/unit/commit/11f416878a9f5f7ec13d548b85982c5de5b55a11.

This will be available packaged & built on the next Unit release.

[2022-11-04 21:20] #384 closed

[2022-11-04 21:20] #400 closed

[2022-11-05 21:46] hbernaciak commented on #694
Hi,
I am facing the same issue (apcu_fetch(): Failed to acquire read lock
) when routing some of the production traffic with over ~500 req/s to app based on lumen framework with apcu cache driver enabled.

Actually, it makes unusable APCU with PHP8 for higher performance apps

`PHP 8.0.25 (cli) (built: Oct 28 2022 18:38:41) ( NTS )
Copyright (c) The PHP Group
Zend Engine v4.0.25, Copyright (c) Zen

[2022-11-07 07:24] tippexs commented on #694
Hi @hbernaciak we haven't looked into the `apcu` features again. We are working currently on other features of the Unit project. But as you mentioned this issue seams still present. We would need to create some sort ob Lab for this issue to trace it down. But this is currently not on the Prio-List. But any code / configuration you can share to reproduce the issue would be appreciated.

[2022-11-07 16:21] travisbell commented on #779
@tippexs As you guys consider supporting DNS resolution, may I ask for a specific feature? It would be really nice if you could respect a record's TTL and refresh addresses as they update. Nginx is missing this feature (it's pay walled as part of Nginx Plus) and is super frustrating to work around. If Unit were to add DNS resolution, I think it makes sense to always do "what's right" (I feel the s

[2022-11-08 06:54] SubZero77 opened #783 "Problem with starting Nextcloud"
Hello! I'm trying to run NextCloud on Nginx and Unit on Ubuntu 22.04 but I get error 502 Bad Gateway.  The site config uses a redirect to port 443:
upstream php-handler {
    server 127.0.0.1:9000;
}
server {
        listen 80;
	listen [::]:80;
        server_name nc.site.ru;
	server_tokens off;
        return 301 https://$server_name$request_uri;
}
fastcgi_pass php-handler;

The Unit json config

[2022-11-08 07:51] SubZero77 commented on #783
Hello! i.e. you don't need to install Nginx at all? Only Unit?
I saw this tutorial and did it, but I didn't understand that Nginx is not needed.

[2022-11-08 08:58] SubZero77 commented on #783
I did It!!! tippexs thank You very much for help!!!
in file config.json (like in manual):
{
    "listeners": {
        "*:80": {
            "pass": "routes"
        }
    },
and load config file by this command:
curl -X PUT --data-binary @/home/config.json --unix-socket /var/run/control.unit.sock http://localhost/config

[2022-11-08 11:03] akamoroz opened #784 "Problem with shadow proxying request"
Hello,
I've moved some API endpoint to another URL and would like to configure shadow proxying (without 301/302 redirects) for old version clients the same as NGINX proxy_pass directory did. Struggling with the configuration NGINX Unit.

Example:
1. OLD Url: `/api/deprecated_url/`
2. NEW Url: `/api/actual_url/`

NGINX Unit config.json:
[code]

However, it does not work:
[code]

Could you please ch

[2022-11-08 11:15] hongzhidao commented on #784
Hi,
The "proxy" option is only allowed to set IP address. It's different from nginx that it can plus the URI to the "proxy_pass" directive.
BTW, we plan to support url rewrite in the future, I think it can do what you want.

[2022-11-08 11:18] lcrilly commented on #784
Indeed. It is intended to solve this issue with https://github.com/nginx/unit/issues/732

[2022-11-08 11:20] #784 closed

[2022-11-08 18:55] mercurykd commented on #388
only the absence of http2 prevents the transfer of projects from nginx to nginx-unit. Have you got some news?

[2022-11-08 21:25] jkugler commented on #778
Just checking in. Is `Makefile.python39` going to be added too? As well as `unit.example-python39-config`?

Thanks!

[2022-11-09 08:56] thresheek commented on #778
Hi @jkugler!

Makefile and examples were already present, you can check e.g. https://github.com/nginx/unit/tree/11f416878a9f5f7ec13d548b85982c5de5b55a11/pkg/rpm - they were added on through Fedora 33 support quite a while ago: https://github.com/nginx/unit/commit/e4f7d1a29c59985f291876e2e76852007c2a390a

There is no hard ETA on the next release though, some time in December most probably.

[2022-11-09 14:57] aryanbaghi opened #785 "Failed to set opcache.jit"
I've installed opcache with `docker-php-ext-install opcache` in docker image based on `nginx/unit:1.28.0-php8.1`
When I set `"opcache.jit": "1235"` in config.json, I got this error on container start:

[code]

By the way when I set this in php.ini file it works.
## More info:
Unit Version: 1.28.0
PHP Version: 8.1.10
Run Environment: Docker

config.json:

[code]

[2022-11-09 18:33] jkugler commented on #778
Ah, gotcha! I didn't see anything that would cause a Python 3.9 build for RHEL8, so I was confused.

Thanks much!

[2022-11-10 13:20] ac000 commented on #694
I'll see if I can somehow reproduce this.

[2022-11-10 13:41] ac000 commented on #694
Well that was easy! :) :(

[2022-11-10 20:06] hbernaciak commented on #694
Great @ac000! if you still need anything, just let me know :)

[2022-11-11 12:40] jd1378 opened #786 "Unit is built without the "chroot" option support error on alpine"
Hi
I was trying to use chroot option with my own alpine nginx image from [here](https://hub.docker.com/r/javadmnjd/nginx-unit-alpine). when it tries to set the unit config it prints out this:
[code]
I checked [docs](https://unit.nginx.org/howto/source/) and `configure` help but I could not find an option for it
so how should I build it with chroot option ?

[2022-11-11 13:31] jd1378 commented on #786
it seems to be happening on `nginx/unit:1.28.0-minimal` as well

[2022-11-11 13:54] thresheek commented on #786
`chroot` functionality is enabled automatically if your OS supports `openat2` system call.  As it's a fairly recent addition, it might not be available on every Linux distribution.

You can check if it's found looking at the output of `configure` when you're building unit.  For more details, e.g. why it was not found, you can check `build/autoconf.err` file.

[2022-11-11 14:33] jd1378 commented on #786
you mean the OS that runs docker engine must support it ?

[2022-11-11 14:37] jd1378 commented on #786
I'm confused because nginx unit's official docker image also doesn't support chroot

[2022-11-11 14:39] thresheek commented on #786
With docker it gets complicated, and indeed both container OS and docker engine host OS must support it.

[2022-11-11 14:40] jd1378 commented on #786
thanks for explaining

[2022-11-11 14:40] thresheek commented on #786
Eh, I've updated the comment. To be clear: I think it's only the container OS that must support it, since we don't check in runtime for that syscall.

[2022-11-11 14:41] jd1378 commented on #786
so
shouldn't the official image support it by default ?

[2022-11-11 14:43] thresheek commented on #786
It looks like Debian 11 (which is the OS used for the minimal image) does not ship support for that syscall too.

[2022-11-11 14:44] jd1378 commented on #786
hmm
is there any ETA for this feature for minimal image ?

[2022-11-11 14:48] thresheek commented on #786
There is no ETA.  When a new Debian version is released (probably some time in 2023), and per-language Docker Images are migrated to it, we will also move Unit docker images to this new version.

To be fair, Alpine 3.16 seems to have openat2, so you might want to check why your Alpine-based image does not have it.

[2022-11-11 14:59] jd1378 commented on #786
I checked the logs and:
`checking for openat2() ... not found`

data from autoconf.err:
[code]

any ideas ?

[2022-11-11 15:02] jd1378 commented on #786
installing `linux-headers` package should solve the issue I think
it was found after it

[2022-11-11 15:02] #786 closed

[2022-11-11 15:03] thresheek commented on #786
Looking at https://pkgs.alpinelinux.org/contents?file=openat2.h&path=&name=&branch=v3.16&repo=main&arch=x86_64, it's indeed in `linux-headers`.

[2022-11-11 15:08] jd1378 commented on #786
I tested the new build and it seems to be working (no more errors)
thank you

[2022-11-12 17:19] SubZero77 commented on #783
Of course not. I did as indicated here https://unit.nginx.org/howto/nextcloud/

For example configuration file config.php

This file with last version of NextCloud https://download.nextcloud.com/server/releases/latest.zip

[2022-11-14 03:02] ac000 commented on #694
Here's what I've found so far.

## **tl;dr**

The issue seems to be caused by our usage of clone(2) (well actually we call the kernel system call directly and not the glibc wrapper).

## **Gory details**

This all applies to Linux (maybe others...)

### Some background

The APCu module uses a mmap(2)'d file as a shared memory cache between processes.
At the start of this memory is a header and in

[2022-11-14 11:13] tippexs commented on #785
Thanks for letting us know. We are working on this in a related issue https://github.com/nginx/unit/issues/694

[2022-11-14 11:32] tippexs commented on #785
Thanks for reaching out! We will have a look into this!

[2022-11-14 16:59] ac000 commented on #694
@hbernaciak

It's a known [issue](https://sourceware.org/bugzilla/show_bug.cgi?id=21793) with glibc (musl libc seems to be OK and perhaps glibc < 2.25) but the glibc developers don't seem to be in a hurry to fix it, in fact there seems to have been some disagreement that they even should.

At the moment it's looking like the way forward would be to drop our use of SYS_clone, we use it so that we c

[2022-11-15 11:49] artemkonev commented on #783
I'll take a look into this, thanks for reporting.

[2022-11-15 12:03] artemkonev commented on #408
@teodorescuserban Hi, I'll work on a more detailed explanation of what exactly happens there.

[2022-11-15 15:09] #36 closed

[2022-11-15 15:11] tippexs commented on #47
Closed issue due to clean ups

[2022-11-15 15:11] #47 closed

[2022-11-16 14:04] ac000 commented on #710
@sandeep-gh Thanks for the patch.

OK, will need to check what these do and if they can be used with any previous version of Python and guard them behind some #if/#endif based on Python version.

This hunk looks superfluous. Left over from debugging?

[2022-11-17 08:14] nailarch opened #787 "Gzip/Brotli compressions on NGINX Unit"
Enabling gzip/brotli compression on pure NGINX is relatively simple.
However, I want to enable gzip/brotli compression for NGINX Unit.
I'm not seeing anything on the NGINX Unit configuration man page about how to do the same for NGINX Unit.
Is the option not currently supported?

[2022-11-17 11:07] #59 closed

[2022-11-17 11:25] #73 closed

[2022-11-17 11:27] tippexs commented on #91
Closing this issue due to our 90 days time-out.

[2022-11-17 11:27] #91 closed

[2022-11-17 11:29] tippexs commented on #100
This functionality is now build in the Unit `router`. Use `match` object to find `hostname` or `uri` segments and pass the request to the right application. More information can be found here: http://unit.nginx.org/configuration/#routes

[2022-11-17 11:29] #100 closed

[2022-11-17 11:32] #105 closed

[2022-11-17 17:51] travisbell commented on #787
Unit itself, does not support compressing responses.

Depending on your app though, this is something you could do app side. For example, Ruby has a Deflater middleware that one can enable, or, you can put Nginx in front on Unit and have Nginx do the work for you.

[2022-11-18 17:23] ac000 commented on #710
Here's a patch that should work for both old & new pythons. It passes our internal testing but having it tested in real world scenarios would be good. Grab the below patch or grab it [here](https://github.com/ac000/unit/tree/py311).

[code]

[2022-11-19 14:30] sandeep-gh commented on #710
@ac000, I haven't tested my patch on older version on Python. Thank you for expanding on this.  Hope to test the modified/expanded patch sometime in this month.

[2022-11-20 09:18] tippexs commented on #787
Hi @nailarch as @travisbell already mentioned currently there is no GZip support in Unit. But this is something on our list of features.

[2022-11-20 19:21] bsidhu009 opened #788 ""uidmap" field has no "container" entry for user "demo1" (uid 1001)"
I'm getting error "uidmap" field has no "container" entry for user "demo1" (uid 1001).

here my config. I not sure How to get this resolved. may be I need to create namespace. Is there any doc or script to create it?

[code]

[2022-11-21 21:24] ac000 commented on #694
@razvanphp @arku31 @hbernaciak

Hi folks,

I have put up a branch that should resolve this issue (my simple test case now works 100%), you can grab it [here](https://github.com/ac000/unit/tree/forker).

If anyone is able to test this, that would be good (feel free to ping me here if you need help setting it up). Report success or failure. If it fails, please let me know your Linux (and this only e

[2022-11-24 09:02] lcrilly commented on #388
HTTP/2 and gRPC support is still on the wish list, but not currently planned.

[2022-11-24 09:02] tippexs commented on #788
Hi @bsidhu009 sorry for late response and thanks for getting in touch? What OS do you use? Could you share that with us?

[2022-11-24 11:48] tippexs commented on #788
Hi @bsidhu009 we did some debugging of this issue and found a bug in the way we are mapping the `host` or outer UIDs / GIDs with the `container` or inner UIDs / GIDs. Good news for you, ther is a configuration that will work for you.

[code]

I will use the UID and GID from your application user `demo1` and map it exactly to the containers namespace. Make sure the IDs match what you can find in `/

[2022-11-24 11:58] alejandro-colomar commented on #788
Hi!

This seems to be a bug.  I haven't yet looked at the code, but here's my rough guess:

(1)  Some unitd process that is in the host user namespace is getting the `uid` and `gid` of the user `demo1`.
(2)  Those numbers, which only have a meaning in the host user namespace are being sent through some inter-process communication to a process within the container user namespace, without being firs

[2022-11-24 12:01] alejandro-colomar commented on #788
As a workaround, if it's good enough for you, you can have a mapping where the `"host"` and `"container"` values are the same (so the mapping is almost a no-op).  Of course, the `"size"` needs to be enough to cover the user/group that you're interested in.  Normally, a size of 1 should be enough.

[2022-11-25 11:46] teodorescuserban opened #789 "Unit is loosing running config when cpu goes up."
I am running a flask application in a docker container.
The docker container has a cpu quota and is using an alpine based image. Unit and unit-python3 are the ones provided by the alpine image (currently unit 1.26.1). the unit process is managed in the container by s6-init, which allows me to do a bit of app preparation before unit starts, but also would restart unit if it crashes.
Very often when

[2022-11-25 14:49] mattxtaz commented on #710
@ac000 I have tested this patch on FreeBSD with both Python 3.10 and 3.11 and it works on both with no apparent issues. I'm hoping this can make it into the next release version so that I can upgrade to 3.11 properly.

[2022-11-25 15:02] ac000 commented on #710
@mattxtaz Thanks for testing!. Yes, the plan is to have it in the next release as we also require it for Fedora 37 support.

[2022-11-25 20:10] bsidhu009 commented on #788
Hi, I have updated OS version

[2022-11-25 22:14] alejandro-colomar opened #790 "The $logdir is not being created at runtime"
The underlying issue is the same as <https://github.com/nginx/unit/issues/742>.

We fixed it for the ctrl socket and the pid file, and now need to do the same thing for the log file.

@ac000 are you busy with other stuff?  Do you want to handle this one, or should I?  It seems to be just repeating the other patch with the $logdir.

[code]

[2022-11-25 22:20] alejandro-colomar commented on #790
If you don't beat me to it, I'll take a look at it on Monday.

[2022-11-26 05:13] ac000 commented on #790
Yes, I'll take a look.

[2022-11-26 12:36] alejandro-colomar commented on #790
Reconsidering:

We only created the last directory in the case of $runstatedir, because creating the whole path could hide some mistakes.
We needed to create the last directory, because being in /run it would be wiped every time.
But /var/log always exists.  Unless we start using some subdirectory of /var/log by default, I wouldn't try to create the directory.  If the user is trying some rare non-

[2022-11-26 12:46] alejandro-colomar commented on #790
For now, our default always exists.

As the FHS 3.0 suggests, I recomment moving to a subdirectory within /var/log: /var/log/unitd.

<https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s10.html>:

For now, I won't close the issue, since I plan to address it _after_ the default has been changed.
However, since the defaults won't be changed for the next version of Unit, let's hold this fix.

My pa

[2022-11-26 13:42] bsidhu009 commented on #788
@tippexs config you have suggested is also not working, now error is
"gidmap" field has missing suplementary gid mappings (found 1 out of 2).

[2022-11-26 13:44] alejandro-colomar commented on #788
Maybe changing the `"size"` to something bigger than 1 fix the new issue?

[2022-11-26 19:37] bsidhu009 commented on #788
I have tried 2,5,7,10, still same issues ""gidmap" field has missing suplementary gid mappings (found 1 out of 2)."

[2022-11-27 18:18] tippexs commented on #788
Whats the output of `id demo1`?

[2022-11-27 19:36] bsidhu009 commented on #788
uid=1002(demo1) gid=1002(demo1) groups=1002(demo1)
I had changed 1002 for both map as per above values

[2022-11-27 19:52] 0ldm0s opened #792 "If listening in a unix socket with non-root user, it can't be autoreleased."
this is my conf.json
[code]

I created a listener into /dev/shm/unx.sock for frpc with non-root user, in first time, it worked. But if I restart it, I got a error message:
[code]

So, I checked the permissions of this socket file as follows:
[code]
I think this permission is fine. But why can't it be deleted automatically?
If I remove it, the program works again.

My unit config and version.
[code

[2022-11-27 20:51] tippexs commented on #792
What operating system are you using? We are supporting abstract sockets as described here.
https://unit.nginx.org/configuration/#listeners-linux

We do not delete the socket file at this point in time. Please try to use the abstract sockets if thats an option for you.

[2022-11-27 21:30] 0ldm0s commented on #792
my os:
[code]

kernel
[code]

and I also have this problem with my online server.
my online server kernel:
[code]

[2022-11-29 01:36] mdtomo opened #793 "Error 503 FastAPI/Starlette when client_ip forwards an IPv6 address"
[code]

Please see [this issue](https://github.com/nginx/unit/issues/635) which is directly related. There was a fix done to address unit sockets where this error was caused by an unexpected ':' in the ip address.

After looking at [the fix](https://github.com/nginx/unit/commit/c7543311ca70c0855721a67ac8b0408ba35f5378) I think it's only addressing unix sockets in particular.

Would it be possible

[2022-11-29 16:26] joanhey commented on #782
I don't think so.

Fibers and coroutines are language features, nothing to do with the webserver.

1. PHP 7.1.3 is not supported from November 2019
2. Please, don't use `ab` for benchmark, it's very old and only use http1.0, so no keepalive connections, and need a new tcp connection for every request.

I understand that unit, it's also and app server. But they can't change how work the language.

[2022-11-29 16:39] joanhey opened #794 "The last versions of Nginx Unit fails in the TechEmpower benchmark"
Hi,
I added Nginx and Nginx Unit to the TechEmpower benchmark.
But in the last versions it's failing with PHP:
https://tfb-status.techempower.com/unzip/results.2022-11-25-12-16-16-174.zip/results/20221119184855/php-unit/run/php-unit.log

Old config without problems, and faster than Nginx:
https://github.com/TechEmpower/FrameworkBenchmarks/blob/R20/frameworks/PHP/php/php-unit.dockerfile
https://git

[2022-11-29 17:44] ac000 commented on #794
Looking at the log it seems

[code]

Unit was started with some initial config.

[code]

After it was started it was reconfigured, then shutdown. All that happened within the space of a second.

From your point of view, what was the actual sequence of events?

[2022-11-29 22:39] joanhey commented on #794
The strange thing is  that in local work.
Show all that verbose output, but work.

Finish here and start to verify the tests:
![image](https://user-images.githubusercontent.com/249085/204663307-600c592b-1f40-4817-a349-24881cda11e6.png)

When finish the tests:
![image](https://user-images.githubusercontent.com/249085/204663407-6ad6e310-c388-45cb-9882-4f145352a3d6.png)

Before show the summary:
![im

[2022-11-29 22:43] joanhey commented on #794
It's failing from the last 2 versions of Nginx Unit.

[2022-11-29 23:35] joanhey commented on #794
When I send the PR for Nginx Unit 1.28 was passing the github actions tests.
But not in the bench server, and later again failed in github actions.

https://github.com/TechEmpower/FrameworkBenchmarks/pull/7691

Github actions log working:
https://github.com/TechEmpower/FrameworkBenchmarks/actions/runs/3447671893/jobs/5753927577#step:9:2154

[2022-11-29 23:36] alejandro-colomar commented on #788
I have some suspicion about the second problem:

In the tests we did, the demo1 user only had one group.  However, unitd tries to get the full list of groups to which a process belongs.  That means that if your `demo1` user belongs to several groups, all of them will need to have a valid mapping.

If that's the case, the workaround seems to be simple:  augment the mapping so that it covers all of

[2022-11-30 06:51] Dawoodkhorsandi commented on #728
@tippexs
Any update on this issue?

[2022-11-30 09:24] JelleVanDerMeulen commented on #197
Is there any progress on this item? We have 3 instances of the same application (dev/test/staging) on 1 UNIT server. We use different http ports (80/81/82). In the access_log there is no way to identify the app. This make debugging issues very difficult.

[2022-11-30 11:23] tippexs commented on #792
Thanks @0ldm0s At the moment we do not support removing the socket on restart of Unit. We had a lot of discussions about this. Would you be able to use abstract sockets as described here (https://unit.nginx.org/configuration/#listeners-linux) ? Please not that abstract sockets need to be handled differently from "normal" sockets. As they are virtual they do not have as strict file based permission

[2022-11-30 11:44] tippexs commented on #123
Close due to response timeout

[2022-11-30 11:44] #123 closed

[2022-11-30 11:46] tippexs commented on #783
Hi @SubZero77  I was able to complete the NextCloud Tutorial I have mentioned above. I am still confused about the `fcgi` configuration you have shared above. I am simply using Unit to host the whole Next Cloud application so the NGINX OSS part is simply a reveres proxy.

[2022-11-30 13:24] artemkonev commented on #197
@JelleVanDerMeulen hi! Not sure whether this is feasible in your case, but using a [custom log format](https://unit.nginx.org/configuration/#access-log) with something like the `X-Application-Name` headers may do the trick.

[2022-11-30 13:28] artemkonev commented on #197
Roughly, having per-app headers would allow to use the `$header_*` variable in the log format, e.g.:
[code]
If you cannot modify the apps to produce different headers, you can put `nginx` in front of Unit to do just that as a temporary solution.

[2022-11-30 20:18] alejandro-colomar commented on #788
Confirmed:

[code]

[code]

So, groups `112`, `115`, and `1000` are covered by the map.  The other 8 out of 11 are not mapped, and so the app can't be run.

The good news is that the workaround is easy.  Write a map that covers all of them.

I'm working on a fix.

[2022-11-30 23:23] alejandro-colomar opened #795 "Critical Undefined Behavior: write past the end of an array"
While trying to fix a bug, I found these:

[code]

[code]

[code]

Writing past the end is invoking Critical Undefined Behavior, and checking after it has happened is too late.  We should move the checks to *before* the writing.

[2022-11-30 23:31] alejandro-colomar commented on #795
However, that doesn't fix the other important problem with this code:  we're not really detecting string truncation at all.

`nxt_sprintf()` needs to be fixed to be able to report truncation.  A good example of how to do that, IMO, would be `stpecpy()`, which returns `end + 1` on truncation: <https://software.codidact.com/posts/285946>

CC:
@andrey-zelenkov
@hongzhidao
@ac000

[2022-11-30 23:32] alejandro-colomar commented on #795
Yet another issue with that code is that is tests for `p == end`, while it seems to ignore the possibility of `p == end + 1` (which of course can't happen due to the design of `nxt_sprintf()`, but that's a problem of the function that should be fixed).